@function alert-accent-gradient($color) {
    @return linear-gradient(to left, rgba($color, 0) 0%, $color 40%, $color 60%, rgba($color, 0) 100%)
}

.alert {
    position: relative;
    padding: 1.2em;
    margin: 1.2em 0;
    border-radius: .5em;
    border: 2px solid $color-muted-1;

    p {
        color: $color-muted-3;
    }

    &::before {
        display: block;
        content: "";
        position: absolute;
        top: -2px;
        left: 1rem;
        right: 1rem;
        height: 2px;
    }

    p:first-of-type {
        margin-top: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    &--info {
        &::before {
            background: alert-accent-gradient($color-primary-5);
        }

        .alert-icon {
            color: $color-primary-5;
        }
    }

    &--tip {
        &::before {
            background: alert-accent-gradient($color-primary-7);
        }

        .alert-icon {
            color: $color-primary-7;
        }
    }

    &--warn {
        &::before {
            background: alert-accent-gradient($color-primary-6);
        }

        .alert-icon {
            color: $color-primary-6;
        }
    }

    .alert-icon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 .5rem;
        background: $color-background-dark;

        svg {
            display: block;
        }
    }
}

@mixin theme-light {
    .alert {
        border-color: $color-muted-3;

        p {
            color: $color-foreground-light-dimmed;
        }

        .alert-icon {
            background: $color-background-light;
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}