@use "sass:list";
@use "../palette";

@function alert-accent-gradient($color) {
    @return linear-gradient(to left, rgba($color, 0) 0%, $color 40%, $color 60%, rgba($color, 0) 100%)
}

.alert {
    position: relative;
    padding: 1.2em;
    margin: 1.2em 0;
    border-radius: .3em;
    border: 2px solid palette.$color-muted-1;

    p {
        color: palette.$color-muted-3;
    }

    &::before {
        display: block;
        content: "";
        position: absolute;
        top: -2px;
        left: 1rem;
        right: 1rem;
        height: 2px;
    }

    p:first-of-type {
        margin-top: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    &--info {
        &::before {
            background: alert-accent-gradient(list.nth(palette.$accents-dark, 1));
        }

        .alert-icon {
            color: list.nth(palette.$accents-dark, 1);
        }
    }

    &--tip {
        &::before {
            background: alert-accent-gradient(list.nth(palette.$accents-dark, 7));
        }

        .alert-icon {
            color: list.nth(palette.$accents-dark, 7);
        }
    }

    &--warn {
        &::before {
            background: alert-accent-gradient(list.nth(palette.$accents-dark, 6));
        }

        .alert-icon {
            color: list.nth(palette.$accents-dark, 6)
        }
    }

    .alert-icon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 .5rem;
        background: palette.$color-background-dark;

        svg {
            display: block;
        }
    }
}

@mixin theme-light {
    .alert {
        border-color: palette.$color-muted-3;

        p {
            color: palette.$color-foreground-light-dimmed;
        }

        .alert-icon {
            background: palette.$color-background-light;
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}