html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    background: $color-background;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: $color-text;
}

h1,
h2,
h3 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}

h1 {
    margin-top: 0;
    font-size: 3em;
}

h2 {
    font-size: 2.1em;
}

h2.subheading {
    font-size: 1.4em;
    color: $color-muted-2;
}

.inline-heading {
    h1, h2 {
        display: inline-block;
        margin-top: 0;
        margin-right: .4em;
        vertical-align: -0.1em;
    }
}

p.lead {
    font-size: 1.6em;
}

hr {
    margin: 2.4em 0;
    height: 2px;
    border: 0;
    background: $color-muted-1;
}

.text--primary-1 {
    color: $color-primary-1;
}

.text--primary-2 {
    color: $color-primary-2;
}

.text--muted-1 {
    color: $color-muted-1;
}

.text--muted-2 {
    color: $color-muted-2;
}

.text-center {
    text-align: center;
}

.inner-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
    width: 100%;
}

.tags {
    .tag {
        display: inline-block;
        padding: .12em .6em;
        margin: .1em;
        border-radius: 2em;
    }

    @for $i from 1 through 7 {
        &--primary-#{$i} .tag,
        .tag--primary-#{$i} {
            background: linear-gradient(145deg, rgba($color-muted-1, 0.2), rgba($color-muted-1, 0.3), rgba(map-get($palette, primary-#{$i}), 0.12));
            color: map-get($palette, primary-#{$i});
        }
    }
}

.button {
    position: relative;
    display: inline-block;
    padding: 1em;
    margin: .2em;
    background: rgba($color-muted-1, 0.3);
    color: $color-text;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;

    &__hover {
        display: block;
        position: absolute;
        width: 600px;
        height: 160px;
        top: 0;
        left: 0;
        background: radial-gradient(circle, rgba($color-muted-1, 0.5), rgba($color-muted-1, 0), rgba($color-muted-1, 0));
        z-index: -1;
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }

    &:hover {
        background: rgba($color-muted-1, 0.4);
        box-shadow: inset 0 0 0 2px $color-muted-1;
    }
}

ul.tags {
    list-style: none;
    margin: 1.2em 0 0 0;
    padding: 0;

    li {
        display: inline-block;

        a {
            position: relative;
            display: inline-block;
            padding: .3em 1.2em;
            margin: .1em;
            color: $color-primary-1;
            text-decoration: none;

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                transform: skew(-20deg);
                background: #006eff;
                opacity: .1;
                transition: opacity .1s;
            }

            &:hover::after {
                opacity: .2;
            }

            span {
                position: relative;
                z-index: 2;
            }
        }
    }
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .inner-container {
        max-width: 800px;
    }

    .head {
        margin: 0;
        padding: 0 1em 4em 1em;
        background-size: cover;
        text-align: center;

        &--slim {
            padding: 0 1em;
        }

        .links {
            display: flex;
            padding: 0;
            margin-bottom: 1.6em;

            .primary {
                flex: 1;
                text-align: left;
            }

            .secondary {
                text-align: right;
            }

            a {
                display: inline-block;
                padding: .4em .8em;
                border-bottom-left-radius: .2em;
                border-bottom-right-radius: .2em;
                background: rgba(27, 27, 36, 0.6);
                font-family: 'JetBrains Mono', monospace;
                color: $color-text;
                text-decoration: none;
                transition: background .1s, color .1s;

                span {
                    transition: color .1s;
                }

                &:hover {
                    background: rgba(224, 235, 245, 0.8);
                    color: $color-background;

                    span {
                        color: $color-background;
                    }
                }
            }
        }

        h1 {
            margin-bottom: .4em;
        }
    }

    .body {
        flex: 1;
        padding: 1.6em 1em;
        background: #fff;
        font-family: 'Lora', serif;
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.6;
        color: $color-background;

        .publish-date {
            margin-bottom: 2em;
            font-weight: bold;
            color: $color-muted-1;
            text-align: center;
        }

        a {
            color: $color-muted-1;
        }

        ul {
            margin-left: 1em;
        }

        p {
            margin-bottom: 1.2em;

            & > code {
                padding: 0 .2em;
                background: #d6ebfe;
                color: #1400cc;
            }
        }
    }
}

.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
        display: inline-block;
        border-radius: .3em;
        background: rgba(27, 27, 36, 0.6);
        transition: background .1s, color .1s;

        a {
            display: block;
            padding: .4em .8em;
            font-family: 'JetBrains Mono', monospace;
            font-size: .8em;
            color: inherit;
            text-decoration: none;
        }

        &:hover {
            background: rgba(224, 235, 245, 0.8);
            color: $color-background;
        }

        &.active {
            font-weight: bold;
        }

        &.disabled {
            cursor: default;
            opacity: .5;

            &:hover {
                background: rgba(27, 27, 36, 0.6);
                color: inherit;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2.6em;
    }

    h2 {
        font-size: 1.7em;
    }

    hr {
        margin: 2em 0;
    }

    .page .body article {
        font-size: .8em;
    }
}