.highlight {
    margin: 1rem 0;

    & > .chroma {
        border-radius: .5em;
        background-color: $color-code-background-dark;
    
        .lntd:nth-child(1) {
            min-width: 30px;
        }
    
        .lntd:nth-child(2) {
            min-width: 100%;
        }
    
        code {
            font-family: $font-family-monospace;
            font-size: .85em;
            line-height: 1.6rem;
        }

        .cl {
            padding: 0 1rem;
        }
    }

    pre.chroma {
        margin: 0;
        padding: .6em 0;
        overflow-x: auto;

        .lnt {
            margin: 0;
            padding: 0 0 0 1rem;
        }
    }

    .lntd pre.chroma {
        overflow: visible;
    }
}

.highlight-label-container {
    & + .highlight {
        margin-top: 0;

        & > .chroma {
            border-top-left-radius: 0;
        }
    }
    
    .highlight-label {
        display: inline-block;
        padding: .1rem .8rem;
        border-top-left-radius: .2rem;
        border-top-right-radius: .2rem;
        font-family: $font-family-monospace;
        font-size: .8em;
        font-weight: 600;
        color: $color-inline-code-foreground-dark;
        background: $color-inline-code-background-dark;
    }
}

/* Background */ .chroma { color: $color-primary-8; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: transparentize($color: $color-primary-2, $amount: 0.94) }
.chroma .hl .lnt, .chroma .hl .cl * { color: $color-primary-2 }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0.3em 0.4em 0.3em 0.4em; color: lighten($color-muted-1, 10%); }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0.3em 0.4em 0.3em 0.4em; color: #7f7f7f }
/* Keyword */ .chroma .k { color: $color-primary-5 }
/* KeywordConstant */ .chroma .kc { color: $color-primary-4 }
/* KeywordDeclaration */ .chroma .kd { color: $color-primary-1 }
/* KeywordNamespace */ .chroma .kn { color: $color-primary-4 }
/* KeywordPseudo */ .chroma .kp { color: $color-primary-4 }
/* KeywordReserved */ .chroma .kr { color: $color-primary-4 }
/* KeywordType */ .chroma .kt { color: $color-primary-5 }
/* Name */ .chroma .n { color: $color-primary-8; }
/* NameAttribute */ .chroma .na { color: $color-primary-1 }
/* NameBuiltin */ .chroma .nb { color: $color-primary-1 }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: $color-primary-7 }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne {  }
/* NameFunction */ .chroma .nf { color: $color-primary-1 }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl { color: $color-primary-1 }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx { color: $color-primary-7 }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: $color-primary-4 }
/* NameVariable */ .chroma .nv { color: $color-primary-8 }
/* NameVariableClass */ .chroma .vc { color: $color-primary-1 }
/* NameVariableGlobal */ .chroma .vg { color: $color-primary-1 }
/* NameVariableInstance */ .chroma .vi { color: $color-primary-1 }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: $color-primary-7 }
/* LiteralStringAffix */ .chroma .sa { color: $color-primary-7 }
/* LiteralStringBacktick */ .chroma .sb { color: $color-primary-7 }
/* LiteralStringChar */ .chroma .sc { color: $color-primary-7 }
/* LiteralStringDelimiter */ .chroma .dl { color: $color-primary-7 }
/* LiteralStringDoc */ .chroma .sd { color: $color-primary-7 }
/* LiteralStringDouble */ .chroma .s2 { color: $color-primary-7 }
/* LiteralStringEscape */ .chroma .se { color: $color-primary-7 }
/* LiteralStringHeredoc */ .chroma .sh { color: $color-primary-7 }
/* LiteralStringInterpol */ .chroma .si { color: $color-primary-7 }
/* LiteralStringOther */ .chroma .sx { color: $color-primary-7 }
/* LiteralStringRegex */ .chroma .sr { color: $color-primary-7 }
/* LiteralStringSingle */ .chroma .s1 { color: $color-primary-2 }
/* LiteralStringSymbol */ .chroma .ss { color: $color-primary-7 }
/* LiteralNumber */ .chroma .m { color: $color-primary-5 }
/* LiteralNumberBin */ .chroma .mb { color: $color-primary-5 }
/* LiteralNumberFloat */ .chroma .mf { color: $color-primary-5 }
/* LiteralNumberHex */ .chroma .mh { color: $color-primary-5 }
/* LiteralNumberInteger */ .chroma .mi { color: $color-primary-5 }
/* LiteralNumberIntegerLong */ .chroma .il { color: $color-primary-5 }
/* LiteralNumberOct */ .chroma .mo { color: $color-primary-5 }
/* Operator */ .chroma .o { color: $color-primary-8 }
/* OperatorWord */ .chroma .ow { color: $color-primary-4 }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: $color-code-comment }
/* CommentHashbang */ .chroma .ch { color: $color-code-comment }
/* CommentMultiline */ .chroma .cm { color: $color-code-comment }
/* CommentSingle */ .chroma .c1 { color: $color-code-comment }
/* CommentSpecial */ .chroma .cs { color: $color-code-comment }
/* CommentPreproc */ .chroma .cp { color: $color-primary-5 }
/* CommentPreprocFile */ .chroma .cpf { color: $color-primary-7 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #8b080b }
/* GenericEmph */ .chroma .ge { text-decoration: underline }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericInserted */ .chroma .gi { font-weight: bold }
/* GenericOutput */ .chroma .go { color: $color-muted-1 }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w {  }

@mixin theme-light-syntax {
    .highlight > .chroma {
        background-color: $color-code-background-light;
    }

    .highlight-label-container {
        .highlight-label {
            color: $color-inline-code-foreground-light;
            background: $color-inline-code-background-light;
        }
    }

    .chroma .lnt {
        color: $color-muted-2;
    }
}

.theme--light {
    @include theme-light-syntax;
}

@media (prefers-color-scheme: light) {
    .theme--system {
        @include theme-light-syntax;
    }
}

@media only screen and (max-width: $breakpoint--small) {
    .highlight {
        margin: 1rem -1rem;

        .chroma {
            border-radius: 0;
        }
    }
}