---
import type { GetStaticPathsOptions } from "astro";
import ContentFooter from "../../components/ContentFooter.astro";
import Document from "../../components/Document.astro";
import Head from "../../components/Head.astro";
import Pagination from "../../components/Pagination.astro";
import PostCard from "../../components/PostCard.astro";
import { loadAndFormatCollection } from "../../util/collection";
import RSSIcon from "../../components/Icons/RSSIcon.astro";

export async function getStaticPaths(options: GetStaticPathsOptions) {
    const posts = (await loadAndFormatCollection("posts")).sort(
        (a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
    );

    return options.paginate(posts, { pageSize: 10 });
}

const { page } = Astro.props;
---

<Document title="Posts">
    <div class="container container--posts container--cards">
        <div class="head-container">
            <Head title="Posts" />
        </div>

        <div class="body">
            <div class="inner-container">
                {page.data.map((post) => <PostCard post={post} showBody={true} showTags={true} />)}

                <Pagination page={page} />

                <p class="text-center">
                    Posts are also available via <a
                        href="/rss.xml"
                        class="text--primary-3 no-decoration"
                        target="blank"
                        ><RSSIcon style="vertical-align: -2px;" /> RSS</a
                    >.
                </p>
            </div>
        </div>

        <ContentFooter />
    </div>
</Document>