---
import DocStart from "../../components/DocStart.astro";
import DocEnd from "../../components/DocEnd.astro";
import HeadTopLinks from "../../components/HeadTopLinks.astro";
import HeadBottomLinks from "../../components/HeadBottomLinks.astro";
import PostCard from "../../components/PostCard.astro";
import { loadAndFormatCollection } from '../../util/collection';

const posts = (await loadAndFormatCollection("posts"))
    .sort((a: any, b: any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<DocStart />
<div class="container container--posts-list">
    <div class="head head--slim">
        <HeadTopLinks />

        <h1>Posts</h1>

        <HeadBottomLinks />
    </div>

    <div class="body">
        <div class="inner-container">
            {
                posts.map(post => (
                    <PostCard post={post} />
                ))
            }
        </div>
    </div>
</div>
<DocEnd />
