---
import DocStart from "../../components/DocStart.astro";
import DocEnd from "../../components/DocEnd.astro";
import HeadTopLinks from "../../components/HeadTopLinks.astro";
import HeadBottomLinks from "../../components/HeadBottomLinks.astro";
import ItemCard from "../../components/ItemCard.astro";
import { loadAndFormatCollection } from '../../util/collection';

const posts = (await loadAndFormatCollection("posts"))
    .sort((a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<DocStart title="Posts" />
<div class="container container--cards">
    <div class="head head--slim">
        <HeadTopLinks />

        <h1>Posts</h1>

        <HeadBottomLinks />
    </div>

    <div class="body">
        <div class="inner-container">
            {
                posts.map(post => (
                    <ItemCard item={post} hasPublishDate={true} hasStatus={false} />
                ))
            }
        </div>
    </div>
</div>
<DocEnd />
