@use "sass:list";
@use "sass:color";
@use "palette";

.badge {
    display: inline-block;
    padding: .2rem .7rem;
    border-radius: 2em;
    font-size: 1rem;
    font-weight: 500;

    @for $i from 1 through 8 {
        &--accent-#{$i} {
            background: color.adjust(list.nth(palette.$accents-dark, $i), $alpha: -0.95);
            color: list.nth(palette.$accents-dark, $i);
        }
    }

    &--muted-1 {
        background: palette.$color-background-main-3;
        color: palette.$color-muted-1;
    }

    &--muted-2 {
        background: palette.$color-background-main-3;
        color: palette.$color-muted-2;
    }

    &--muted-3 {
        background: palette.$color-background-main-3;
        color: palette.$color-muted-3;
    }

    &--muted-4 {
        background: palette.$color-background-main-4;
        color: palette.$color-muted-4;
    }

    &--active {
        font-weight: bold;

        &::before {
            content: "•";
            margin-right: 0.2em;
        }
    }

    a {
        text-decoration: none;
    }
}

a.badge {
    margin: .25rem;
}

.badge-joined {
    display: inline-block;
    white-space: nowrap;

    .badge:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .badge:last-child {
        margin-left: 2px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

@mixin theme-light {
    .badge {
        color: palette.$color-foreground-light;

        @for $i from 1 through 8 {
            &--accent-#{$i} {
                background: color.adjust(list.nth(palette.$accents-light, $i), $alpha: -0.30);
            }
        }

        &--muted-1,
        &--muted-2,
        &--muted-3 {
            background: palette.$color-muted-4;
            color: palette.$color-muted-1;
            filter: none;
        }

        &--muted-4 {
            background: palette.$color-muted-3;
            color: palette.$color-foreground-light;
            filter: none;
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}