.badge {
    display: inline-block;
    padding: .1rem .7rem;
    border-radius: 2em;
    font-size: 1rem;
    font-weight: 500;

    &--primary-1 {
        background: transparentize($color-primary-1, .95);
        color: $color-primary-1;
    }

    &--primary-2 {
        background: transparentize($color-primary-2, .95);
        color: $color-primary-2;
    }

    &--primary-3 {
        background: transparentize($color-primary-3, .95);
        color: $color-primary-3;
    }

    &--primary-4 {
        background: transparentize($color-primary-4, .95);
        color: $color-primary-4;
    }

    &--primary-5 {
        background: transparentize($color-primary-5, .95);
        color: $color-primary-5;
    }

    &--primary-6 {
        background: transparentize($color-primary-6, .95);
        color: $color-primary-6;
    }

    &--primary-7 {
        background: transparentize($color-primary-7, .95);
        color: $color-primary-7;
    }

    &--primary-8 {
        background: transparentize($color-primary-8, .95);
        color: $color-primary-8;
    }

    &--muted-1 {
        background: $color-background-main-3;
        color: $color-muted-1;
    }

    &--muted-2 {
        background: $color-background-main-3;
        color: $color-muted-2;
    }

    &--muted-3 {
        background: $color-background-main-3;
        color: $color-muted-3;
    }

    &--muted-4 {
        background: $color-background-main-4;
        color: $color-muted-4;
    }

    &--active {
        font-weight: bold;

        &::before {
            content: "•";
            margin-right: 0.2em;
        }
    }
}

a.badge {
    margin: .25rem;
}

.badge-joined {
    display: inline-block;
    white-space: nowrap;

    .badge:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .badge:last-child {
        margin-left: 2px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

@mixin theme-light {
.badge {
        color: $color-foreground-light;

        &--primary-1 {
            background: $color-primary-1;
        }

        &--primary-2 {
            background: $color-primary-2;
        }

        &--primary-3 {
            background: $color-primary-3;
        }

        &--primary-4 {
            background: $color-primary-4;
        }

        &--primary-5 {
            background: $color-primary-5;
        }

        &--primary-6 {
            background: $color-primary-6;
        }

        &--primary-7 {
            background: $color-primary-7;
        }

        &--primary-8 {
            background: $color-primary-8;
        }

        &--muted-1,
        &--muted-2,
        &--muted-3 {
            background: $color-muted-4;
            color: $color-muted-1;
            filter: none;
        }

        &--muted-4 {
            background: $color-muted-3;
            color: $color-foreground-light;
            filter: none;
        }
    }
}

@include apply-light-theme();