@use "sass:list";
@use "palette";

.expressive-code {
    margin: 1.2em 0;

    figure.frame {
        box-shadow: none;

        .copy {
            .feedback {
                background: list.nth(palette.$accents-light, 3);
                color: palette.$color-foreground-light;

                &::after {
                    border-left-color: list.nth(palette.$accents-light, 3);
                }
            }

            button::before {
                border: none;
            }
        }
    }

    pre code .code span {
        font-style: normal;
    }
}

@mixin theme-dark {
    .expressive-code {
        --ec-frm-trmTtbBg: #232734;
        --ec-frm-edTabBarBg: #232734;
        --ec-frm-edActTabIndBtmCol: list.nth(palette.$accents-dark, 5);

        .frame {
            --header-border-radius: .3em;
        }
    }
}

html[data-theme="dark"] {
    @include theme-dark;
}

@media (prefers-color-scheme: dark) {
    html[data-theme="system"] {
        @include theme-dark;
    }
}