html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    background: $color-background-main-1;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    color: $color-foreground-dark;
}

a {
    color: $color-primary-1;
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}

hr {
    margin: 2em 0;
    height: 2px;
    border: 0;
    background: $color-muted-1;
}

.button {
    position: relative;
    display: inline-block;
    padding: 1em;
    margin: .2em;
    background: rgba($color-muted-1, 0.3);
    color: $color-foreground-dark;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;

    &__hover {
        display: block;
        position: absolute;
        width: 600px;
        height: 160px;
        top: 0;
        left: 0;
        background: radial-gradient(circle, rgba($color-muted-1, 0.5), rgba($color-muted-1, 0), rgba($color-muted-1, 0));
        z-index: 10;
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }

    &__inner {
        position: relative;
        z-index: 100;
    }

    &:hover {
        background: rgba($color-muted-1, 0.4);
        box-shadow: inset 0 0 0 2px rgba($color-muted-1, 0.6);
    }
}

a.theme-selector-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 1rem;
    transform: translate(0, -50%);
    z-index: 600;
    padding: .6rem;
    border-radius: 3em;
    background-color: $color-background-main-1;
    color: $color-muted-3;
    transition: color .2s;

    &:hover {
        color: $color-foreground-dark;
    }

    svg:first-child {
        display: block;
    }

    svg:last-child {
        display: none;
    }

    &.toggled {
        background: $color-background-main-2;

        svg:first-child {
            display: none;
        }

        svg:last-child {
            display: block;
        }
    }
}

.theme-selector {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 1rem;
    padding: .5rem 0 1.5rem 0;
    z-index: 500;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    background: $color-background-main-2;
    text-align: right;
    white-space: nowrap;

    &.show {
        display: block;
    }
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &--centred {
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .inner-container {
        position: relative;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 1rem;
        max-width: 860px;
        width: 100%;
    
        p {
            line-height: 1.5;

            &.lead {
                font-size: 1.6em;
                color: $color-foreground-dark;
            }
        }
    }

    .head {
        position: relative;
        margin: 0;
        padding: 3em 1em;
        background-size: cover;
        background-color: $color-background-main-1;
        background-position: 50% 50%;
        text-align: center;

        .top-links {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1000;
            padding: 0;
            margin-bottom: 1.5em;
            background-color: transparentize($color-background-main-2, 1.0);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.0);
            transition: background-color .2s, box-shadow .2s;
            font-size: 1.1em;

            .inner-container {
                display: flex;
                padding-top: 0;
                padding-bottom: 0;
            }

            .primary {
                flex: 1;
                text-align: left;
            }

            .secondary {
                text-align: right;
            }

            a {
                display: inline-block;
                padding: .4em .8em;
                border-bottom-left-radius: .2em;
                border-bottom-right-radius: .2em;
                background: rgba(27, 27, 36, 0.6);
                font-family: $font-family-monospace;
                color: $color-foreground-dark;
                text-decoration: none;
                transition: background .1s, color .1s;

                &[data-toggle] {
                    display: none;
                    padding-bottom: .2em;

                    svg:first-child {
                        display: inline-block;
                    }
                    
                    svg:last-child {
                        display: none;
                    }

                    &.toggled {
                        svg:first-child {
                            display: none;
                        }

                        svg:last-child {
                            display: inline-block;
                        }
                    }
                }

                span {
                    transition: color .1s;
                }

                &:hover {
                    background: $color-block-background-light;
                    color: $color-background-main-1;

                    span {
                        color: $color-background-main-1;
                    }
                }
            }
        }
        
        .small-display-menu {
            display: block;
            opacity: 0.0;
            position: fixed;
            z-index: 999;
            top: 3.8rem;
            right: 1rem;
            left: 1rem;
            height: 0;
            border-radius: .3em;
            overflow: hidden;
            background-color: $color-background-overlay;
            transition: top .2s ease-out, opacity .2s;

            &.show {
                opacity: 1.0;
                top: 3.4rem;
                height: auto;
                padding: 1em 4em;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
            }

            a {
                display: block;
                padding: 1em 0;
                margin: 2px 0;
                font-family: $font-family-monospace;
                font-size: 1.1em;
                color: $color-foreground-dark-dimmed;
                border-bottom: 1px solid $color-background-main-3;

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    color: $color-foreground-dark;
                }
            }
        }
    }

    .body {
        flex: 1;
        padding: 1.6rem 0;
        background: $color-background-dark;
        color: $color-foreground-dark;

        ul:not(.tags) {
            padding: 0;
            margin: 1.2em 0 1.2em 2em;

            li {
                margin: .25em 0;
            }
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        .image-container {
            margin: 1rem 0;
            text-align: center;
        }

        .video-container {
            text-align: center;

            video {
                width: 100%;
                height: auto;
                max-width: 800px;
                max-height: 400px;
            }
        }

        .audio-container {
            text-align: center;

            audio {
                width: 100%;
                max-width: 400px;
            }
        }

        .og-summary {
            text-align: center;
            margin-top: 2em;

            img {
                display: inline-block;
                max-width: 500px;
                border-radius: .3em;
                opacity: .9;
                transition: opacity .1s;

                &:hover {
                    opacity: 1;
                }
            }

            .caption {
                margin-top: .65em;
            }
        }

        .columns {
            column-gap: 1rem;

            &--3 {
                column-count: 3;
            }

            .image-container {
                margin: 0;
            }
        }
    
        hr {
            height: 1px;
            border: 0;
            background: $color-muted-1;
        }
    }

    .head ul.tags,
    .body ul.tags {
        list-style: none;
        margin: 1.2em 0 0 0;
        padding: 0;
    
        li {
            display: inline-block;
    
            a {
                position: relative;
                display: inline-block;
                padding: .3em 1.2em;
                margin: .2em;
                color: $color-tag-foreground;
                text-decoration: none;
                transition: color .1s;
    
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    transform: skew(-20deg);
                    border-radius: .3em;
                    background: $color-tag-background;
                    transition: opacity .1s, background .1s;
                }
    
                &:hover {
                    color: $color-background-main-1;
    
                    &::after {
                        background: $color-block-background-light;
                    }
                }
    
                span {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }

    .footer {
        position: relative;

        .footer-links {
            text-align: center;
        }
    }
}

.scrolled {
    .container .head .top-links {
        background-color: transparentize($color-background-main-2, 0.03);
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

        .primary > a,
        .secondary > a {
            border-radius: 0;
        }
    }
}

@mixin theme-light {
    body {
        background: $color-background-light;
        color: $color-foreground-light;
    }

    .inline-heading {
        .more-link a {
            background: $color-muted-4;
            color: $color-foreground-light;

            &:hover {
                color: #000;
            }
        }
    }
    
    a {
        color: $color-link-light;

        &:hover {
            color: #000000;
        }
    }

    .container {
        .head {
            background-color: $color-background-main-4;

            .small-display-menu {
                background-color: transparentize($color-background-light-dimmed, 0.03);

                a {
                    color: $color-foreground-light-dimmed;
                    border-color: $color-muted-3;

                    &:hover {
                        color: $color-foreground-light;
                    }
                }
            }
        }

        .body {
            background: $color-background-light;
            color: $color-foreground-light;
        }

        .head,
        .body {
            ul.tags a {
                color: $color-foreground-light;

                &::after {
                    background: $color-tag-foreground;
                }

                &:hover {
                    color: $color-foreground-dark;

                    &::after {
                        background: $color-tag-background;
                    }
                }
            }
        }

        .footer {
            background: $color-background-light-dimmed;
            color: $color-muted-1;

            a {
                color: $color-link-light;

                &:hover {
                    color: $color-foreground-light;
                }
            }

            a.theme-selector-toggle {
                background: $color-background-light-dimmed;
                color: $color-muted-3;

                &:hover {
                    color: $color-muted-1;
                }

                &.toggled {
                    background: $color-muted-4;
                }
            }

            .theme-selector {
                background: $color-muted-4;
            }
        }

        .button {
            background: $color-background-light-dimmed;
            color: $color-muted-1;

            &__hover {
                background: radial-gradient(circle, rgba($color-muted-4, 1), rgba($color-muted-4, 0), rgba($color-muted-4, 0));
            }
        
            &:hover {
                box-shadow: inset 0 0 0 2px $color-muted-4;
            }
        }

        hr {
            background: lighten($color-muted-3, 10%);
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}

@media only screen and (max-width: $breakpoint--small) {
    hr {
        margin: 2em 0;
    }

    .container {
        .body {
            .og-summary img {
                max-width: 100%;
            }
    
            .columns {
                &--3 {
                    column-count: 1;
                }
    
                .image-container {
                    margin: 1rem 0;
                }
            }
        }
    }

    .pagination span.pagination-page-number {
        display: block;
        margin: .8rem;
    }
}

@media only screen and (max-width: $breakpoint--x-small) {
    .container .head  .top-links .secondary {
        & > a {
            display: none;
        }

        a[data-toggle] {
            display: inline-block;
        }
    }
}

@media (pointer: coarse) {
    .container .head .top-links a:hover {
        all: revert-layer;
    }
}