html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    background: $color-background-main-1;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    color: $color-text-on-dark;
}

h1,
h2,
h3 {
    font-family: $font-family-monospace;
    font-weight: 400;
    margin: 2rem 0;
    
    a {
        color: inherit;
    }
}

h1 {
    margin-top: 0;
    font-size: 3em;
}

h2 {
    font-size: 2.1em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
    margin: 1rem 0;
}

.inline-heading {
    h1, h2 {
        display: inline-block;
        margin-top: 0;
        margin-right: .4em;
        vertical-align: -0.1em;
    }

    .more-link {
        text-align: right;

        a {
            display: inline-block;
            padding: .2em .6em;
            background: lighten($color-background-main-1, 3%);
            color: $color-muted-3;
            text-decoration: none;
            transition: color .1s;

            &:hover {
                color: #fff;
            }
        }
    }
}

a {
    color: $color-primary-1;
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}

hr {
    margin: 2em 0;
    height: 2px;
    border: 0;
    background: $color-muted-1;
}

.text {
    &--primary-1 {
        color: $color-primary-1;
    }
    
    &--primary-2 {
        color: $color-primary-2;
    }
    
    &--primary-3 {
        color: $color-primary-3;
    }
    
    &--primary-4 {
        color: $color-primary-4;
    }
    
    &--primary-5 {
        color: $color-primary-5;
    }
    
    &--primary-6 {
        color: $color-primary-6;
    }
    
    &--primary-7 {
        color: $color-primary-7;
    }
    
    &--primary-8 {
        color: $color-primary-8;
    }
    
    &--muted-1 {
        color: $color-muted-1;
    }
    
    &--muted-2 {
        color: $color-muted-2;
    }

    &--muted-3 {
        color: $color-muted-3;
    }
}

.text-center {
    text-align: center;
}

.badge {
    display: inline-block;
    padding: .1rem .7rem;
    border-radius: 2em;
    font-size: 1rem;
    font-weight: 500;

    &--primary-1 {
        background: transparentize($color-primary-1, 0.95);
        color: $color-primary-1;
    }

    &--primary-2 {
        background: transparentize($color-primary-2, 0.95);
        color: $color-primary-2;
    }

    &--primary-3 {
        background: transparentize($color-primary-3, 0.95);
        color: $color-primary-3;
    }

    &--primary-4 {
        background: transparentize($color-primary-4, 0.95);
        color: $color-primary-4;
    }

    &--primary-5 {
        background: transparentize($color-primary-5, 0.95);
        color: $color-primary-5;
    }

    &--primary-6 {
        background: transparentize($color-primary-6, 0.95);
        color: $color-primary-6;
    }

    &--primary-7 {
        background: transparentize($color-primary-7, 0.95);
        color: $color-primary-7;
    }

    &--primary-8 {
        background: transparentize($color-primary-8, 0.95);
        color: $color-primary-8;
    }

    &--muted-1 {
        background: $color-background-main-3;
        color: $color-muted-1;
    }

    &--muted-2 {
        background: $color-background-main-3;
        color: $color-muted-2;
    }

    &--muted-3 {
        background: $color-background-main-3;
        color: $color-muted-3;
    }

    &--muted-4 {
        background: $color-background-main-4;
        color: $color-muted-4;
    }

    &--active {
        font-weight: bold;

        &::before {
            content: "•";
            margin-right: 0.2em;
        }
    }
}

.badge-joined {
    display: inline-block;
    white-space: nowrap;

    .badge:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .badge:last-child {
        margin-left: 2px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.button {
    position: relative;
    display: inline-block;
    padding: 1em;
    margin: .2em;
    background: rgba($color-muted-1, 0.3);
    color: $color-text-on-dark;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;

    &__hover {
        display: block;
        position: absolute;
        width: 600px;
        height: 160px;
        top: 0;
        left: 0;
        background: radial-gradient(circle, rgba($color-muted-1, 0.5), rgba($color-muted-1, 0), rgba($color-muted-1, 0));
        z-index: 10;
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }

    &__inner {
        position: relative;
        z-index: 100;
    }

    &:hover {
        background: rgba($color-muted-1, 0.4);
        box-shadow: inset 0 0 0 2px rgba($color-muted-1, 0.6);
    }
}

.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
        display: inline-block;
        border-radius: .3em;
        background: rgba(27, 27, 36, 0.6);
        transition: background .1s, color .1s;

        a {
            display: block;
            padding: .4em .8em;
            font-family: $font-family-sans-serif;
            font-size: .8em;
            color: inherit;
            text-decoration: none;
        }

        &:hover {
            background: rgba(224, 235, 245, 0.8);
            color: $color-background-main-1;
        }

        &.active {
            font-weight: bold;
        }

        &.disabled {
            cursor: default;
            opacity: .5;

            &:hover {
                background: rgba(27, 27, 36, 0.6);
                color: inherit;
            }
        }
    }
}
    
.adjacent-content-links {
    display: flex;

    .next,
    .previous {
        flex: 50%;

        a {
            display: block;
            font-weight: 500;
            text-decoration: none;

            .prefix {
                font-size: .9em;
                color: $color-muted-3;
            }

            &:hover span {
                color: #fff;
            }
        }
    }

    .next {
        text-align: right;
    }
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &--centred {
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .inner-container {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 1rem;
        max-width: 860px;
        width: 100%;
    
        p {
            line-height: 1.5;
            color: $color-muted-3;

            &.lead {
                font-size: 1.6em;
                color: $color-text-on-dark;
            }
        }
    }

    .head {
        margin: 0;
        padding: 0;
        background-size: cover;
        background-color: $color-background-main-1;
        background-position: 50% 50%;
        text-align: center;

        &--slim {
            padding: 0;
        }

        h1, h2, h3 {
            margin: 0;
        }

        h1 {
            font-size: 2.4em;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 1.4em;
            color: $color-muted-3;
        }

        .top-links {
            display: flex;
            padding: 0 1rem;
            margin-bottom: 1.6em;
            font-size: 1.1em;

            .primary {
                flex: 1;
                text-align: left;
            }

            .secondary {
                text-align: right;
            }

            a {
                display: inline-block;
                padding: .4em .8em;
                border-bottom-left-radius: .2em;
                border-bottom-right-radius: .2em;
                background: rgba(27, 27, 36, 0.6);
                font-family: $font-family-monospace;
                color: $color-text-on-dark;
                text-decoration: none;
                transition: background .1s, color .1s;

                span {
                    transition: color .1s;
                }

                &:hover {
                    background: $color-block-background-light;
                    color: $color-background-main-1;

                    span {
                        color: $color-background-main-1;
                    }
                }
            }
        }

        .bottom-links {
            text-align: right;
            padding: 1rem;
        }
    }

    .body {
        flex: 1;
        padding: 1.6rem 0;
        background: $color-background-dark;
        color: $color-foreground-dark;

        article {
            font-size: 1.1em;
            color: $color-foreground-dark;
        }

        h1,
        h2,
        h3 {
            font-family: $font-family-sans-serif;
            font-weight: 700;
        }

        ul:not(.tags) {
            padding: 0;
            margin: 1.2em 0 1.2em 2em;

            li {
                margin: .25em 0;
            }
        }

        p {
            margin-bottom: 1.2em;
            color: $color-foreground-dark;
        }

        p > code,
        ul > li > code,
        ol > li > code {
            display: inline-block;
            padding: 0 .4em;
            border-radius: 0.2em;
            background: $color-inline-code-background-dark;
            font-size: 1rem;
            font-family: $font-family-monospace;
            color: $color-inline-code-foreground-dark;
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        blockquote {
            margin-left: 1em;
            padding-left: 1em;
            border-left: 4px solid $color-muted-1;

            p {
                font-style: italic;
            }
        }

        .image-container {
            margin: 1rem 0;
            text-align: center;
        }

        .video-container {
            text-align: center;

            video {
                width: 100%;
                height: auto;
                max-width: 800px;
                max-height: 400px;
            }
        }

        .audio-container {
            text-align: center;

            audio {
                width: 100%;
                max-width: 400px;
            }
        }

        .og-summary {
            text-align: center;
            margin-top: 2em;

            img {
                display: inline-block;
                max-width: 500px;
                border-radius: .3em;
                opacity: .9;
                transition: opacity .1s;

                &:hover {
                    opacity: 1;
                }
            }

            .caption {
                margin-top: .65em;
            }
        }

        .columns {
            column-gap: 1rem;

            &--3 {
                column-count: 3;
            }

            .image-container {
                margin: 0;
            }
        }
    
        hr {
            height: 1px;
            border: 0;
            background: $color-muted-1;
        }
    }

    .head ul.tags,
    .body ul.tags {
        list-style: none;
        margin: 1.2em 0 0 0;
        padding: 0;
    
        li {
            display: inline-block;
    
            a {
                position: relative;
                display: inline-block;
                padding: .3em 1.2em;
                margin: .2em;
                color: $color-tag-foreground;
                text-decoration: none;
                transition: color .1s;
    
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    transform: skew(-20deg);
                    border-radius: .3em;
                    background: $color-tag-background;
                    transition: opacity .1s, background .1s;
                }
    
                &:hover {
                    color: $color-background-main-1;
    
                    &::after {
                        background: $color-block-background-light;
                    }
                }
    
                span {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }

    .footer {
        strong {
            display: block;
            margin-top: 1rem;
        }
    }
}
    
.caption {
    margin: 1rem 0 2rem 0;
    text-align: center;
    font-size: .9em;
    font-style: italic;
    color: $color-muted-2;
}

a.link-settings {
    display: inline-block;
    opacity: 0.65;
    transition: opacity .3s;

    &:hover {
        opacity: 1.0;
    }

    svg {
        color: #fff;
    }
}

.modal-overlay {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparentize($color-background-main-1, 0.5);

    .modal {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        padding: 2em;
        box-sizing: border-box;
        border-radius: .3em;
        background: $color-background-main-1;
        box-shadow: 0 10px 1em rgba(0, 0, 0, 0.3);

        a.modal-close {
            position: absolute;
            top: 1.9em;
            right: 1.8em;
            opacity: 0.65;
            transition: opacity .3s;

            svg {
                color: #fff;
            }

            &:hover {
                opacity: 1.0;
            }
        }

        h3 {
            margin-top: 0;
        }
    }

    .modal--settings {
        label {
            display: block;
        }
    }
}

@mixin theme-light {
    .inline-heading {
        .more-link a {
            background: $color-muted-4;
            color: $color-foreground-light;

            &:hover {
                color: #000;
            }
        }
    }

    .badge {
        filter: brightness(60%) saturate(150%);

        &--primary-1 {
            color: $color-primary-1;
        }
    
        &--primary-2 {
            color: $color-primary-2;
        }
    
        &--primary-3 {
            color: $color-primary-3;
        }
    
        &--primary-4 {
            color: $color-primary-4;
        }
    
        &--primary-5 {
            color: $color-primary-5;
        }
    
        &--primary-6 {
            color: $color-primary-6;
        }
    
        &--primary-7 {
            color: $color-primary-7;
        }
    
        &--primary-8 {
            color: $color-primary-8;
        }

        &--muted-1,
        &--muted-2,
        &--muted-3 {
            background: $color-muted-4;
            color: $color-muted-1;
            filter: none;
        }

        &--muted-4 {
            background: $color-muted-3;
            color: $color-foreground-light;
            filter: none;
        }
    }
    
    a {
        color: $color-link-light;

        &:hover {
            color: #000000;
        }
    }

    .adjacent-content-links {
        a:hover span {
            color: #000;
        }
    }

    .container {
        .head {
            background: $color-background-main-4;
        }

        .body {
            background: $color-background-light;
            color: $color-foreground-light;

            .publish-date {
                color: $color-muted-1;
            }
    
            article, p, ul, ol {
                color: $color-foreground-light;
            }

            p > code,
            ul > li > code,
            ol > li > code {
                background: $color-inline-code-background-light;
                color: $color-inline-code-foreground-light;
            }

            blockquote {
                border-left: 4px solid lighten($color-muted-3, 10%);
            }

            .caption {
                color: $color-muted-1;
            }
        }

        .footer {
            background: $color-background-light-dimmed;
            color: $color-muted-2;

            p {
                color: $color-muted-2;
            }

            a {
                color: $color-link-light;

                &:hover {
                    color: $color-foreground-light;
                }
            }
        }

        .button {
            background: $color-muted-4;
            color: $color-muted-1;

            &__hover {
                background: radial-gradient(circle, rgba($color-background-light-dimmed, 1), rgba($color-background-light-dimmed, 0), rgba($color-background-light-dimmed, 0));
            }
        
            &:hover {
                background: rgba($color-muted-3, 0.4);
                box-shadow: inset 0 0 0 2px $color-muted-3;
            }
        }

        hr {
            background: lighten($color-muted-3, 10%);
        }
    }

    .modal-overlay .modal {
        background: $color-background-light;
        color: $color-foreground-light;

        .modal-close svg {
            color: $color-foreground-light;
        }
    }
}

.theme--light {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    .theme--system {
        @include theme-light;
    }
}

@media only screen and (max-width: $breakpoint--small) {
    h1 {
        font-size: 2.6em;
    }

    h2 {
        font-size: 1.7em;
    }

    hr {
        margin: 2em 0;
    }

    .container .body .columns {
        &--3 {
            column-count: 1;
        }

        .image-container {
            margin: 1rem 0;
        }
    }
}

@media only screen and (max-width: $breakpoint--x-small) {
    .container .head .top-links {
        font-size: 0.95rem;
    }
}