@use "sass:list";
@use "sass:color";
@use "palette";
@use "typography";
@use "breakpoints";

html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: palette.$color-background-dark;
    font-family: typography.$font-family-sans-serif;
    font-size: 18px;
    color: palette.$color-foreground-dark;

    &:before {
        display: none;
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('/images/bg-noise.png');
        background-position: 50% 0%;
        background-repeat: repeat;
        opacity: 0.5;
    }
}

a {
    color: list.nth(palette.$accents-dark, 1);
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}

hr {
    margin: 2em 0;
    height: 2px;
    border: 0;
    background: palette.$color-muted-1;
}

a.theme-selector-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 1.5rem;
    transform: translate(0, -50%);
    z-index: 600;
    padding: .6rem;
    border-radius: 3em;
    background-color: palette.$color-background-main-1;
    color: palette.$color-muted-3;
    transition: color .2s;

    &:hover {
        color: palette.$color-foreground-dark;
    }

    svg:first-child {
        display: block;
    }

    svg:last-child {
        display: none;
    }

    &.toggled {
        background: palette.$color-background-main-2;

        svg:first-child {
            display: none;
        }

        svg:last-child {
            display: block;
        }
    }
}

.theme-selector {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 1rem;
    padding: .5rem 0 1.5rem 0;
    z-index: 500;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    background: palette.$color-background-main-2;
    text-align: right;
    white-space: nowrap;

    &.show {
        display: block;
    }
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &--centred {
        justify-content: center;
        min-height: 100vh;
    }

    .head-container {
        position: relative;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 4.5rem 1.5rem 0 1.5rem;
        max-width: 1200px;
        width: 100%;

        .head {
            position: relative;
            padding: 3rem;

            &__background {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 1rem;
                background-size: cover;
                background-position: center center;
            }

            .inner-container {
                padding: 0;
                max-width: 1100px;
            }

            .button-group {
                margin-top: 2rem;
            }
        }
    }

    .inner-container {
        position: relative;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 1.5rem;
        max-width: 860px;
        width: 100%;
    }

    .top-links {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1001;
        padding: 0;
        margin-bottom: 1.5em;
        background-color: color.adjust(palette.$color-background-main-2, $alpha: -1.0);
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.0);
        transition: background-color .2s, box-shadow .2s;
        font-size: 1.1em;

        .inner-container {
            display: flex;
            padding-top: 0;
            padding-bottom: 0;
        }

        .primary {
            flex: 1;
            text-align: left;
        }

        .secondary {
            text-align: right;
        }

        a {
            display: inline-block;
            padding: .4em .8em;
            border-bottom-left-radius: .2em;
            border-bottom-right-radius: .2em;
            background: palette.$color-background-main-1;
            font-family: typography.$font-family-monospace;
            color: palette.$color-foreground-dark;
            text-decoration: none;
            transition: background .1s, color .1s;

            &[data-toggle] {
                display: none;
                padding-bottom: .2em;

                svg:first-child {
                    display: inline-block;
                }

                svg:last-child {
                    display: none;
                }

                &.toggled {
                    svg:first-child {
                        display: none;
                    }

                    svg:last-child {
                        display: inline-block;
                    }
                }
            }

            span {
                transition: color .1s;
            }

            &:hover {
                background: palette.$color-block-background-light;
                color: palette.$color-background-main-1;

                span {
                    color: palette.$color-background-main-1;
                }
            }
        }
    }

    .small-display-menu {
        display: block;
        opacity: 0.0;
        position: fixed;
        z-index: 1001;
        top: 3.8rem;
        right: 1.5rem;
        left: 1.5rem;
        height: 0;
        border-radius: .3em;
        overflow: hidden;
        background-color: palette.$color-background-overlay;
        text-align: center;
        transition: top .2s ease-out, opacity .2s;

        &.show {
            opacity: 1.0;
            top: 3.4rem;
            height: auto;
            padding: 1em 4em;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        }

        a {
            display: block;
            padding: 1em 0;
            margin: 2px 0;
            font-family: typography.$font-family-monospace;
            font-size: 1.1em;
            color: palette.$color-foreground-dark-dimmed;
            border-bottom: 1px solid palette.$color-background-main-3;
            text-decoration: none;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                color: palette.$color-foreground-dark;
            }
        }
    }

    .head {
        position: relative;
        margin: 0;
        padding: 3.5rem 1rem 1rem 1rem;
        background-size: cover;
        background-position: 50% 50%;
        text-align: center;
    }

    .body {
        flex: 1;
        padding: 1rem 0;
        color: palette.$color-foreground-dark;

        ul:not(.button-group) {
            padding: 0;
            margin: 1.2em 0 1.2em 2em;

            li {
                margin: .25em 0;
            }

            ul {
                margin: 0 0 0 2em;
            }
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        .image-container {
            margin: 1rem 0;
            text-align: center;

            img {
                height: auto;
                width: auto;
            }
        }

        .video-container {
            text-align: center;

            video {
                width: 100%;
                height: auto;
                max-width: 800px;
                max-height: 400px;
            }

            lite-youtube {
                margin: 0 auto;
            }
        }

        .audio-container {
            text-align: center;

            audio {
                width: 100%;
                max-width: 400px;
            }
        }

        .og-summary {
            text-align: center;
            margin-top: 2em;

            img {
                display: inline-block;
                max-width: 500px;
                border-radius: .3em;
                opacity: .9;
                transition: opacity .1s;

                &:hover {
                    opacity: 1;
                }
            }

            .caption {
                margin-top: .65em;
            }
        }

        .columns {
            column-gap: 1rem;

            &--2 {
                column-count: 2;
            }

            &--3 {
                column-count: 3;
            }

            .image-container {
                margin: 0;
                padding: 0.5rem 0;
            }
        }

        .grid {
            display: grid;
            column-gap: 1rem;

            &--2 {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            &--3 {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }

        hr {
            height: 1px;
            border: 0;
            background: palette.$color-muted-1;
        }
    }

    .head-container ul.tags,
    .body ul.tags {
        list-style: none;
        margin: 1.2em 0 0 0;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;

            a {
                position: relative;
                display: inline-block;
                padding: .3em 1.2em;
                margin: .2em;
                border-radius: .3em;
                background: palette.$color-background-main-1;
                color: palette.$color-muted-3;
                text-decoration: none;
                transition: color .1s, background .1s;

                &:hover {
                    color: palette.$color-background-main-1;
                    background: palette.$color-block-background-light;
                }

                span {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }

    .footer {
        position: relative;
        background: palette.$color-background-main-1;

        .footer-links {
            text-align: center;
        }
    }
}

.scrolled {
    .container .top-links {
        background-color: color.adjust(palette.$color-background-main-1, $alpha: -0.03);
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

        .primary > a,
        .secondary > a {
            border-radius: 0;
        }
    }
}

@mixin theme-light {
    body {
        background-color: palette.$color-background-light;
        color: palette.$color-foreground-light;

        &:before {
            opacity: 1.0;
        }
    }

    .inline-heading {
        .more-link a {
            background: palette.$color-muted-4;
            color: palette.$color-foreground-light;

            &:hover {
                color: #000;
            }
        }
    }

    a {
        color: palette.$color-link-light;

        &:hover {
            color: #000000;
        }
    }

    &.scrolled {
        .container {
            .top-links {
                background-color: color.adjust(palette.$color-background-light-dimmed, $alpha: -0.03);
            }
        }
    }

    .container {
        .head-container {
            .head {
                h2 {
                    color: palette.$color-muted-1;
                }

                .head__background {
                    filter: brightness(200%) contrast(150%);
                    opacity: 0.25;
                }
            }

            .top-links {
                a {
                    background-color: palette.$color-background-light-dimmed;
                    color: palette.$color-foreground-light;

                    &:hover {
                        background-color: palette.$color-foreground-light-dimmed;
                        color: palette.$color-background-light-dimmed;
                    }

                    &:hover span {
                        color: palette.$color-background-light-dimmed;
                    }
                }
            }
        }

        .small-display-menu {
            background-color: color.adjust(palette.$color-background-light-dimmed, $alpha: -0.03);

            a {
                color: palette.$color-foreground-light-dimmed;
                border-color: palette.$color-muted-3;

                &:hover {
                    color: palette.$color-foreground-light;
                }
            }
        }

        .body {
            color: palette.$color-foreground-light;
        }

        .footer {
            background: palette.$color-background-light-dimmed;
            color: palette.$color-muted-1;

            a {
                color: palette.$color-link-light;

                &:hover {
                    color: palette.$color-foreground-light;
                }
            }

            a.theme-selector-toggle {
                background: palette.$color-background-light-dimmed;
                color: palette.$color-muted-2;

                &:hover {
                    color: palette.$color-muted-1;
                }

                &.toggled {
                    background: palette.$color-muted-4;
                }
            }

            .theme-selector {
                background: palette.$color-muted-4;
            }
        }

        hr {
            background: color.adjust(palette.$color-muted-3, $lightness: 10%);
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}

@media only screen and (max-width: breakpoints.$small) {
    hr {
        margin: 2em 0;
    }


    .container {
        .body {
            .og-summary img {
                max-width: 100%;
            }

            .columns {
                &--2,
                &--3 {
                    column-count: 1;
                }
            }

            .grid {
                &--2,
                &--3 {
                    grid-template-columns: auto;
                }
            }
        }
    }

    .pagination span.pagination-page-number {
        display: block;
        margin: .8rem;
    }
}

@media only screen and (max-width: breakpoints.$x-small) {
    .container .top-links .secondary {
        & > a {
            display: none;
        }

        a[data-toggle] {
            display: inline-block;
        }
    }
}

@media (pointer: coarse) {
    .container .top-links a[data-toggle]:hover {
        background: palette.$color-background-top-link;
        color: palette.$color-foreground-dark;
    }
}