@use "sass:list";
@use "sass:map";
@use "palette";

ul.button-group {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }
}

.button-group a,
.button {
    position: relative;
    display: inline-block;
    padding: .2em 1em;
    margin: .2em;
    font-weight: 500;
    color: palette.$color-background-main-1;
    text-decoration: none;
    transition: color .1s;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        transform: skew(-20deg);
        border-radius: .3em;
        transition: opacity .1s, background .1s;
    }

    &:hover {
        color: palette.$color-background-main-1;

        &::after {
            background: palette.$color-block-background-light;
        }
    }

    span {
        position: relative;
        z-index: 2;
    }

    &.button--skew-left {
        &::after {
            transform: skew(20deg);
        }
    }
}

.button-group--accent-3 a,
.button--accent-3 {
    &::after {
        background: list.nth(palette.$accents-dark, 3);
    }
}

.button-group--accent-5 a,
.button--accent-5 {
    &::after {
        background: list.nth(palette.$accents-dark, 5);
    }
}

.radio-group {
    display: flex;
    flex-direction: column;

    .radio-group-item {
        flex-grow: 1;

        label {
            position: relative;
            display: block;
            padding: .4rem 1rem;
            color: palette.$color-muted-3;
            cursor: pointer;

            &:hover {
                color: palette.$color-foreground-dark;
            }

            svg {
                opacity: 0;
                vertical-align: -6px;
            }
        }

        &:not(:first-child) {
            margin-left: -2px;
        }

        input[type="radio"] {
            float: left;
            width: 0;
            height: 0;
            opacity: 0;
        }

        input:checked + label {
            color: palette.$color-foreground-dark;
            z-index: 1000;

            svg {
                opacity: 1;
            }
        }
    }
}

@mixin theme-light {
    .button-group a,
    .button {
        color: palette.$color-background-main-1;

        &:hover {
            color: palette.$color-background-main-1;

            &::after {
                background: palette.$color-muted-4;
            }
        }
    }

    .button-group--accent-3 a,
    .button--accent-3 {
        color: palette.$color-foreground-dark;

        &::after {
            background: list.nth(palette.$accents-light, 3);
        }
    }

    .button-group--accent-5 a,
    .button--accent-5 {
        color: palette.$color-foreground-dark;

        &::after {
            background: list.nth(palette.$accents-light, 5);
        }
    }

    .radio-group .radio-group-item {
        label {
            color: palette.$color-muted-2;

            &:hover {
                color: palette.$color-foreground-light;
            }
        }

        input:checked + label {
            border-color: palette.$color-foreground-light;
            color: palette.$color-foreground-light;
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}