.radio-group {
    display: flex;
    flex-direction: column;

    .radio-group-item {
        flex-grow: 1;

        label {
            position: relative;
            display: block;
            padding: .4rem 1rem;
            color: $color-muted-3;
            cursor: pointer;

            &:hover {
                color: $color-foreground-dark;
            }

            svg {
                opacity: 0;
                vertical-align: -6px;
            }
        }

        &:not(:first-child) {
            margin-left: -2px;
        }

        input[type="radio"] {
            float: left;
            width: 0;
            height: 0;
            opacity: 0;
        }

        input:checked + label {
            color: $color-foreground-dark;
            z-index: 1000;

            svg {
                opacity: 1;
            }
        }
    }
}

@mixin theme-light {
    .radio-group .radio-group-item {
        label {
            color: $color-muted-2;

            &:hover {
                color: $color-foreground-light;
            }
        }

        input:checked + label {
            border-color: $color-foreground-light;
            color: $color-foreground-light;
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}