.radio-group {
    display: flex;
    flex-direction: row;

    .radio-group-item {
        flex-grow: 1;

        label {
            position: relative;
            display: block;
            padding: .4em .8em;
            border: 2px solid $color-muted-1;
            color: $color-muted-3;
            cursor: pointer;

            &:hover {
                color: $color-foreground-dark;
            }

            svg {
                display: none;
                vertical-align: -6px;
            }
        }

        &:not(:first-child) {
            margin-left: -2px;
        }

        &:first-child label {
            border-top-left-radius: .3em;
            border-bottom-left-radius: .3em;
        }

        &:last-child label {
            border-top-right-radius: .3em;
            border-bottom-right-radius: .3em;
        }

        input[type="radio"] {
            float: left;
            width: 0;
            height: 0;
            opacity: 0;
        }

        input:checked + label {
            border-color: $color-foreground-dark;
            color: $color-foreground-dark;
            z-index: 1000;

            svg {
                display: inline-block;
            }
        }
    }
}

@mixin theme-light {
    .radio-group .radio-group-item {
        label {
            border-color: $color-muted-3;
            color: $color-muted-2;

            &:hover {
                color: $color-foreground-light;
            }
        }

        input:checked + label {
            border-color: $color-foreground-light;
            color: $color-foreground-light;
        }
    }
}

.theme--light {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    .theme--system {
        @include theme-light;
    }
}