@use "palette";
@use "breakpoints";

.pagination {
    padding: 0;
    margin: 1.8rem 0;
    text-align: center;

    .pagination-page-number {
        margin: 0 1rem;
    }

    a {
        color: palette.$color-link-dark;

        &::after {
            background: palette.$color-background-main-2;
        }
    }

    span.pagination-item-disabled {
        color: palette.$color-muted-2;

        &:hover::after {
            background-color: inherit;
        }
    }
}

.adjacent-content-links {
    display: flex;

    .next,
    .previous {
        flex: 50%;

        a {
            display: block;
            font-weight: 500;
            text-decoration: none;

            .prefix {
                font-size: .9em;
                color: palette.$color-muted-3;
            }

            &:hover span {
                color: #fff;
            }
        }
    }

    .next {
        text-align: right;
    }
}

@mixin theme-light {
    .adjacent-content-links {
        .next,
        .previous {
            a {
                .prefix {
                    color: palette.$color-muted-2;
                }

                &:hover span {
                    color: #000;
                }
            }
        }
    }

    .pagination {
        a {
            color: palette.$color-link-light;

            &::after {
                background: palette.$color-background-light-dimmed;
            }
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media only screen and (max-width: breakpoints.$x-small) {
    .pagination span.pagination-page-number {
        display: block;
        margin: .5rem 0;
    }
}