@use "sass:color";

$color-accent-1: #1976F8;
$color-accent-2: #FF9763;

$color-background-dark: #1b1b24;
$color-muted-1: #424D60;
$color-muted-2: #57647B;

$color-primary-1: #82aaff;
$color-primary-2: #c3e88d;
$color-primary-3: #f78c6c;
$color-primary-4: #89ddff;
$color-primary-5: #c792ea;
$color-primary-6: #f07178;
$color-primary-7: #ffcb6b;
$color-primary-8: #bfc5cf;

$color-muted-1: #44475a;
$color-muted-2: #666b80;
$color-muted-3: #aaacc4;
$color-muted-4: #dcdde9;

$color-background-main-1: #252530;
$color-background-main-2: color.adjust($color-background-main-1, $lightness: 3%);
$color-background-main-3: color.adjust($color-background-main-1, $lightness: 7%);
$color-background-main-4: color.adjust($color-background-main-1, $lightness: 15%);

$color-background-top-link: rgba(27, 27, 36, 0.6);

$color-background-overlay: rgba(27, 27, 36, 0.98);

$color-block-background-light: rgba(224, 235, 245, 0.8);

$color-tag-foreground: #cfd9ec;
$color-tag-background: #515b7c;

//$color-background-dark: #21212b;
$color-foreground-dark: #f8f8f2;
$color-foreground-dark-dimmed: #d6dde7;
$color-code-background-dark: #292c3e;
$color-inline-code-background-dark: #292c3e;
$color-inline-code-foreground-dark: #d6dde7;
$color-link-dark: #82aaff;

$color-background-light: #ffffff;
$color-background-light-dimmed: #ebeef5;
$color-foreground-light: #252530;
$color-foreground-light-dimmed: #505063;
$color-code-background-light: #e8ebf5;
$color-inline-code-background-light: #eef4ff;
$color-inline-code-foreground-light: #435981;
$color-link-light: #3a60db;

$palette: (
    accent-1: $color-accent-1,
    accent-2: $color-accent-2,
    primary-1: $color-primary-1,
    primary-2: $color-primary-2,
    primary-3: $color-primary-3,
    primary-4: $color-primary-4,
    primary-5: $color-primary-5,
    primary-6: $color-primary-6,
    primary-7: $color-primary-7
);