@use "sass:color";

$color-background-dark: #1b1b24;
$color-background-muted-1: #424D60;
$color-background-muted-2: #57647B;

$color-muted-1: #44475a;
$color-muted-2: #666b80;
$color-muted-3: #aaacc4;
$color-muted-4: #dcdde9;

$color-background-main-1: #252530;
$color-background-main-2: color.adjust($color-background-main-1, $lightness: 3%);
$color-background-main-3: color.adjust($color-background-main-1, $lightness: 7%);
$color-background-main-4: color.adjust($color-background-main-1, $lightness: 15%);

$color-background-top-link: rgba(27, 27, 36, 0.6);

$color-background-overlay: rgba(27, 27, 36, 0.98);

$color-block-background-light: rgba(224, 235, 245, 0.8);

$color-tag-foreground: #cfd9ec;
$color-tag-background: #515b7c;

$color-foreground-dark: #f8f8f2;
$color-foreground-dark-dimmed: #d6dde7;
$color-inline-code-background-dark: #292c3e;
$color-inline-code-foreground-dark: #d6dde7;
$color-link-dark: #82aaff;

$color-background-light: #ffffff;
$color-background-light-dimmed: #ebeef5;
$color-foreground-light: #252530;
$color-foreground-light-dimmed: #505063;
$color-inline-code-background-light: #eef4ff;
$color-inline-code-foreground-light: #435981;
$color-link-light: #3a60db;

$accents-dark: (
    #82aaff, // blue
    #c3e88d, // green
    #f78c6c, // orange
    #89ddff, // cyan
    #c792ea, // purple
    #f07178, // red
    #ffcb6b, // orange
    #bfc5cf // neutral
);

$accents-light: (
    #005CC5,
    #22863A,
    #FA6F71,
    #0BC7D7,
    #6F42C1,
    #D73A49,
    #F7C400,
    #333333
);
