$color-background-main: #252530;
$color-background-dark: #21212b;
$color-foreground-dark: #d6dde7;
$color-background-light: #ffffff;
$color-background-light-dimmed: #ebeef5;
$color-foreground-light: #252530;
$color-primary-1: #82aaff;
$color-primary-2: #c3e88d;
$color-primary-3: #f78c6c;
$color-primary-4: #89ddff;
$color-primary-5: #c792ea;
$color-primary-6: #f07178;
$color-primary-7: #ffcb6b;
$color-primary-8: #bfc5cf;
$color-muted-1: #44475a;
$color-muted-2: #8c8ea0;
$color-muted-3: #aeb0c7;
$color-code-comment: #888cc6;
$color-text-on-dark: #f8f8f2;
$color-code-background-dark: #292c3e;
$color-code-background-light: #e8ebf5;
$color-inline-code-background-dark: #292c3e;
$color-inline-code-foreground-dark: #d6dde7;
$color-inline-code-background-light: #eef4ff;
$color-inline-code-foreground-light: #435981;
$color-tag-foreground: #cfd9ec;
$color-tag-background: #515f7c;
$color-block-background-light: rgba(224, 235, 245, 0.8);
$color-link-light: #3a60db;
$color-link-dark: #82aaff;

$palette: (
    primary-1: $color-primary-1,
    primary-2: $color-primary-2,
    primary-3: $color-primary-3,
    primary-4: $color-primary-4,
    primary-5: $color-primary-5,    
    primary-6: $color-primary-6,
    primary-7: $color-primary-7
);

$breakpoint--small: 768px;