.expressive-code {
    margin: 1.2em 0;

    figure.frame {
        box-shadow: none;

        .copy {
            .feedback {
                background: $color-primary-2;
                color: $color-foreground-light;
        
                &::after {
                    border-left-color: $color-primary-2;
                }
            }

            button::before {
                border: none;
            }
        }
    }

    pre code .code span {
        font-style: normal;
    }
}

@mixin theme-dark {
    .expressive-code {
        --ec-frm-trmTtbBg: #242836;
        --ec-frm-edTabBarBg: #242836;
    }
}

@include apply-dark-theme();