.astro-code {
    padding: 1em;
    border-radius: .5em;

    code {
        font-family: $font-family-monospace;
        font-size: .8em;
        line-height: 1.5;
    }
}

@mixin theme($style) {
    .astro-code,
    .astro-code span {
        color: var(--shiki-#{$style}) !important;
        background-color: var(--shiki-#{$style}-bg) !important;
    }
}

.theme--dark {
    @include theme('dark');
}

@media (prefers-color-scheme: dark) {
    html[data-theme="system"] {
        @include theme('dark');
    }
}