.astro-code {
    padding: 1em;
    border-radius: .5em;

    code {
        font-family: $font-family-monospace;
        font-size: .9em;
    }
}

.astro-code,
.astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
}

@mixin theme-light {
    .astro-code,
    .astro-code span {
        color: var(--shiki-light) !important;
        background-color: var(--shiki-light-bg) !important;
    }
}

.theme--light {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    .theme--system {
        @include theme-light;
    }
}