@use "sass:color";
@use "palette";

table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid color.scale(palette.$color-muted-2, $alpha: -50%);


        td, th {
            padding: .5em;
        }
    }

    thead tr {
        border-bottom-width: 2px;
    }
}