@use "sass:color";
@use "sass:list";
@use "palette";
@use "breakpoints";

$font-family-monospace: 'JetBrains Mono', monospace;
$font-family-sans-serif: 'Source Sans 3', sans-serif;

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400 600;
    font-display: swap;
    src: local('Source Sans 3'), url('/fonts/SourceSans3.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1,
h2,
h3 {
    font-family: $font-family-monospace;
    font-weight: 400;
    margin: 3rem 0 2rem 0;

    a {
        color: inherit;
    }
}

h1 {
    margin-top: 0;
    font-size: 3em;
}

h2 {
    font-size: 2.1em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
    margin: 1rem 0;
}

.inline-heading {
    h1,
    h2 {
        display: inline-block;
        margin-top: 0;
        margin-right: .4em;
        vertical-align: -0.1em;
    }

    .more-link {
        text-align: right;

        a {
            display: inline-block;
            padding: .2em .6em;
            background: color.adjust(palette.$color-background-main-1, $lightness: 3%);
            color: palette.$color-muted-3;
            text-decoration: none;
            transition: color .1s;

            &:hover {
                color: #fff;
            }
        }
    }
}

p {
    margin-bottom: 1.2em;
}

.container .body p.text,
.text {
    @for $i from 1 through 7 {
        &--accent-#{$i} {
            color: list.nth(palette.$accents-dark, $i);
        }
    }

    &--muted-1 {
        color: palette.$color-muted-1;
    }

    &--muted-2 {
        color: palette.$color-muted-2;
    }

    &--muted-3 {
        color: palette.$color-muted-3;
    }
}

.text-center {
    text-align: center;
}

.caption {
    margin: 1rem 0 2rem 0;
    text-align: center;
    font-size: .9em;
    font-style: italic;
    color: palette.$color-muted-3;
}

.container {
    .head {
        h1,
        h2,
        h3 {
            margin: 0;
        }

        h1 {
            font-size: 2.4em;
            color: palette.$color-foreground-dark;
        }

        h2 {
            margin-top: 1rem;
            font-size: 1.4em;
            color: palette.$color-muted-3;
        }
    }

    article {
        font-size: 1.1em;
        color: palette.$color-foreground-dark-dimmed;
    }

    .body {
        h1,
        h2,
        h3 {
            font-family: $font-family-sans-serif;
            font-weight: 700;
        }
    }

    a {
        text-decoration: underline solid palette.$color-muted-1;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;

        &.no-decoration {
            text-decoration: none;
        }

        &:hover {
            text-decoration-color: #fff;
        }
    }

    p > code,
    ul > li > code,
    ol > li > code,
    .alert > code {
        display: inline-block;
        padding: 0 .4em;
        border-radius: .2em;
        background: palette.$color-inline-code-background-dark;
        font-size: 1rem;
        font-family: $font-family-monospace;
        color: palette.$color-inline-code-foreground-dark;
        word-wrap: anywhere;
    }

    blockquote {
        margin-left: 1em;
        padding-left: 1em;
        border-left: 4px solid palette.$color-muted-1;

        p {
            font-style: italic;
        }
    }

    .footer {
        p {
            color: palette.$color-muted-3;
        }

        strong {
            display: block;
            margin-top: 1rem;
        }
    }
}

@mixin theme-light {
    .container {
        .body {
            article {
                color: palette.$color-foreground-light;
            }

            .publish-date {
                color: palette.$color-muted-1;
            }

            p > code,
            ul > li > code,
            ol > li > code {
                background: palette.$color-inline-code-background-light;
                color: palette.$color-inline-code-foreground-light;
            }

            blockquote {
                border-left: 4px solid color.adjust(palette.$color-muted-3, $lightness: 10%);
            }

            .caption {
                color: palette.$color-muted-2;
            }
        }

        a {
            text-decoration-color: palette.$color-muted-3;

            &:hover {
                text-decoration-color: #000;
            }
        }

        .text {
            @for $i from 1 through 7 {
                &--accent-#{$i} {
                    color: list.nth(palette.$accents-light, $i);
                }
            }
        }
    }

    .footer {
        p {
            color: palette.$color-muted-2;
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}

@media only screen and (max-width: breakpoints.$small) {
    h1 {
        font-size: 2.6em;
    }

    h2 {
        font-size: 1.7em;
    }
}