{{ partial "header.html" . }}

<div class="container container--posts">
    <div class="head head--slim">
        {{ partial "links.html" . }}

        <h1>{{ .Title }}</h1>
        {{ if .Data.Singular }}<h2 class="subheading">{{ .Data.Singular }}</h2>{{ end }}
    </div>

    <hr>

    <div class="inner-container">
        {{ range .Paginator.Pages }}
            <div class="post-card">
                <div class="post-card-header">
                    <span class="post-card-header-title"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
                    <span class="post-card-header-publish-date">{{ .Date.Format "2 Jan 2006" }}</span>
                </div>
                <div class="post-card-body">
                    {{ .Summary }}
                </div>
                <div class="post-card-footer">
                    <div class="post-card-footer-tags">
                        {{ range (.GetTerms "tags") }}<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ end }}
                    </div>
                </div>
            </div>
        {{ end }}

        {{ template "_internal/pagination.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}