{{ partial "doc-start.html" . }}

<div class="container container--posts">
    <div class="head head--slim">
        {{ partial "head-top-links.html" . }}

        <h1>{{ .Title }}</h1>
        {{ if .Data.Singular }}<h2 class="subheading">{{ .Data.Singular }}</h2>{{ end }}

        {{ partial "head-bottom-links.html" . }}
    </div>

    <hr style="margin-top: 0;">

    <div class="inner-container">
        {{ range .Paginator.Pages }}
            <div class="post-card">
                <div class="post-card-header">
                    <h3 class="post-card-header-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    <span class="post-card-header-publish-date">{{ .Date.Format "2 Jan 2006" }}</span>
                </div>
                <div class="post-card-body">
                    {{ .Description }}
                </div>
                <div class="post-card-footer">
                    <div class="post-card-footer-tags">
                        {{ range (.GetTerms "tags") }}<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ end }}
                    </div>
                </div>
            </div>
        {{ end }}

        {{ template "_internal/pagination.html" . }}
    </div>
</div>

{{ partial "doc-end.html" . }}