{{ partial "doc-start.html" . }}

<div class="container container--centred">
    <div class="inner-container">
        <h1><span class="text--muted-1" style="padding-right: .2em;">&#8250;</span><span class="text--primary-1">rick</span><span class="text--muted-1">.</span><span class="text--primary-2">me</span><span class="text--muted-1">.</span><span class="text--primary-2">uk</span></h1>
        
        <h2>{{ .Title }}</h2>

        <div>
            {{ .Content }}
        </div>
    </div>
</div>

{{ partial "doc-end.html" . }}