{{ partial "doc-start.html" . }}

<div class="container">
    <div class="head head--slim">
        {{ partial "head-top-links.html" . }}

        <h1>{{ .Title }}</h1>

        {{ partial "head-bottom-links.html" . }}
    </div>

    <div class="body">
        <div class="inner-container text-center">
            <ul class="tags">
                {{ range .Pages }}<li><a href="{{ .Permalink }}"><span>{{ .Title }}</span></a></li>{{ end }}
            </ul>
        </div>
    </div>
</div>

{{ partial "doc-end.html" . }}