---
import { loadAndFormatCollection, getTags } from "../../scripts/utils/collection";

import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Container from "../../components/Container.astro";

const posts = await loadAndFormatCollection("posts");
const projects = await loadAndFormatCollection("projects", false);
const postTags = await getTags(posts);
const projectTags = await getTags(projects);
---

<Layout title="Tags">
    <div class="container container--tags">
        <div class="head-container">
            <Header title="Tags" />
        </div>

        <Container maxWidth="700px">
            <h2>Browse posts tagged with…</h2>

            <ul class="tags">
                {
                    postTags.map((tag) => (
                        <li>
                            <a href={`/posts/tag/${tag}/1`}>
                                <span>{tag}</span>
                            </a>
                        </li>
                    ))
                }
            </ul>

            <hr />

            <h2>Browse projects tagged with…</h2>

            <ul class="tags">
                {
                    projectTags.map((tag) => (
                        <li>
                            <a href={`/projects/tag/${tag}`}>
                                <span>{tag}</span>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </Container>
    </div>
</Layout>

<style lang="scss">
h2 {
    font-variation-settings: "wdth" 100;
    font-size: 1.5rem;
    text-align: center;
}

ul.tags li a span {
    font-size: 1.25rem;
}
</style>
