---
import DocStart from "../../components/DocStart.astro";
import DocEnd from "../../components/DocEnd.astro";
import HeadTopLinks from "../../components/HeadTopLinks.astro";
import HeadBottomLinks from "../../components/HeadBottomLinks.astro";
import { loadAndFormatCollection, getTags } from "../../util/collection";

const posts = await loadAndFormatCollection("posts");
const projects = await loadAndFormatCollection("projects", false);
const postTags = await getTags(posts);
const projectTags = await getTags(projects);
---

<DocStart title="Tags" />
<div class="container">
    <div class="head head--slim">
        <HeadTopLinks />

        <h1>Tags</h1>

        <HeadBottomLinks />
    </div>

    <div class="body">
        <div class="inner-container text-center">
            <h3 style="margin-top: 0;" class="text--muted-2">Browse posts tagged with…</h3>

            <ul class="tags">
                {
                    postTags.map((tag) => (
                        <li>
                            <a href={`/posts/tag/${tag}/1`}>
                                <span>{tag}</span>
                            </a>
                        </li>
                    ))
                }
            </ul>

            <h3 class="text--muted-2">Browse projects tagged with…</h3>

            <ul class="tags">
                {
                    projectTags.map((tag) => (
                        <li>
                            <a href={`/projects/tag/${tag}`}>
                                <span>{tag}</span>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</div>
<DocEnd />
