---
import ContentFooter from "../../components/ContentFooter.astro";
import Document from "../../components/Document.astro";
import Head from "../../components/Head.astro";
import { loadAndFormatCollection, getTags } from "../../util/collection";

const posts = await loadAndFormatCollection("posts");
const projects = await loadAndFormatCollection("projects", false);
const postTags = await getTags(posts);
const projectTags = await getTags(projects);
---

<Document title="Tags">
    <div class="container container--tags">
        <div class="head-container">
            <Head title="Tags" />
        </div>

        <div class="body">
            <div class="inner-container text-center">
                <h3 style="margin-top: 0;" class="text--muted-2">
                    Browse posts tagged with…
                </h3>

                <ul class="button-group button-group--accent-5">
                    {
                        postTags.map((tag) => (
                            <li>
                                <a href={`/posts/tag/${tag}/1`}>
                                    <span>{tag}</span>
                                </a>
                            </li>
                        ))
                    }
                </ul>

                <h3 class="text--muted-2">Browse projects tagged with…</h3>

                <ul class="button-group button-group--accent-3">
                    {
                        projectTags.map((tag) => (
                            <li>
                                <a href={`/projects/tag/${tag}`}>
                                    <span>{tag}</span>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>

        <ContentFooter />
    </div>
</Document>