---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page not found">
    <Container>
        <div class="text-center">
            <h1>Page not found</h1>
            <p>That URL doesn't appear to be valid :(</p>
            <p><a href="/">Go home</a>?</p>
        </div>
    </Container>
</Layout>
