{{ partial "header.html" . }}

<div class="page">
    <div class="head" style="background-image: url({{ .Params.Image }});">
        <div>
            {{ partial "links.html" . }}

            <h1>{{ .Title }}</h1>
            <h2 class="subheading">{{ .Summary }}</h2>

            <ul class="tags">
                {{ range (.GetTerms "tags") }}
                    <li><a href="{{ .Permalink }}"><span>{{ .LinkTitle }}</span></a></li>
                {{ end }}
            </ul>
        </div>
    </div>
    
    <div class="body">
        <div class="inner-container">
            <div class="publish-date">
                {{ .Date.Format "January 2, 2006" }}
            </div>

            <article>
                {{ .Content }}
            </article>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}