{{ partial "header.html" . }}

<div class="container container--posts">
    <div class="head" style="background-image: url({{ .Params.Image }});">
        <div>
            {{ partial "links.html" . }}

            <h1>{{ .Title }}</h1>
            <h2 class="subheading">{{ .Summary }}</h2>

            <ul class="tags">
                {{ range (.GetTerms "tags") }}
                    <li><a href="{{ .Permalink }}"><span>{{ .LinkTitle }}</span></a></li>
                {{ end }}
            </ul>
        </div>
    </div>
    
    <div class="body">
        <div class="inner-container">
            <div class="publish-date">
                <div>{{ .Date.Format "January 2, 2006" }}</div>
            </div>

            <article>
                {{ .Content }}
            </article>

            <hr>

            <div class="adjacent-post-links">
                <div class="previous">
                    {{ if .PrevPage }}
                        <a href="{{ .PrevPage.Permalink }}">
                            <span class="prefix">‹ Previous post</span>
                            <br>
                            <span class="title">{{ .PrevPage.Title | truncate 50 "..."}}</span>
                        </a>
                    {{ end }}
                </div>

                <div class="next">
                    {{ if .NextPage }}
                        <a href="{{ .NextPage.Permalink }}">
                            <span class="prefix">Next post ›</span>
                            <br>
                            <span class="title">{{ .NextPage.Title | truncate 50 "..." }}</span>
                        </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
mediumZoom('article p img')
</script>

<div class="container container--pre-footer">
    <div class="inner-container">
        <h4>Who is this?!</h4>

        <p>I'm Rick, a UK-based developer whose professional experience began with full-stack web development in the late 2000s. I grew up in a household of nerds, which exposed me to computers, consoles, and games from a very early age. I was always curious about how game development works, and I was able to start doing it professionally in 2019 when I moved from web dev to game UI programming for <a href="https://hytale.com/" target="_blank">Hytale</a>.</p>

        <p>Since then, I've spent much of my leisure time learning more about all facets of game development as well as programming in general. I occasionally post about those topics here.</p>
    </div>
</div>

{{ partial "footer.html" . }}