---
import CloseIcon from "./Icons/CloseIcon.astro";
import ThemeIcon from "./Icons/ThemeIcon.astro";
import ThemeSelector from "./ThemeSelector.astro";
---

<div class="footer">
    <div class="inner-container">
        <a
            href="#"
            class="theme-selector-toggle"
            data-toggle=".theme-selector"
            title="Change theme"
        >
            <ThemeIcon width="24px" height="24px" />
            <CloseIcon width="24px" height="24px" />
        </a>
        <div class="theme-selector">
            <ThemeSelector />
        </div>

        <strong>About me</strong>

        <p>
            I'm Rick, a UK-based developer whose professional experience began
            with full-stack web development in the late 2000s. I grew up in a
            household of nerds, which exposed me to computers, consoles, and
            games from a very early age. I was always curious about how game
            development works and eventually found my way into the games
            industry in 2019, where I currently work as a full time software
            engineer.
        </p>

        <p>
            Since 2019, I've spent much of my leisure time learning more about
            all facets of game development as well as programming in general. I
            occasionally post about those topics here.
        </p>

        <div class="footer-links">
            <a href="#" class="no-decoration">▴ Back to top</a>
        </div>
    </div>
</div>