---
import CloseIcon from "./Icons/CloseIcon.astro";
import CheckIcon from "./Icons/CheckIcon.astro";
---

<div class="modal-overlay">
    <div class="modal modal--menu">
        <a href="#" data-close-modal=".modal--menu">
            <CloseIcon width="24" height="24" /> Close
        </a>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/posts/1/">Posts</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/tags/">Tags</a></li>
            </ul>
        </nav>
    </div>

    <div class="modal modal--theme">
        <a href="#" class="modal-close" data-close-modal=".modal--theme">
            <CloseIcon width="32px" height="32px" />
        </a>

        <h3>Theme</h3>

        <div class="radio-group">
            <div class="radio-group-item">
                <input
                    id="theme-system"
                    type="radio"
                    name="theme"
                    value="system"
                />
                <label for="theme-system"
                    ><CheckIcon width="24" height="24" /> System</label
                >
            </div>
            <div class="radio-group-item">
                <input id="theme-dark" type="radio" name="theme" value="dark" />
                <label for="theme-dark"
                    ><CheckIcon width="24" height="24" /> Dark</label
                >
            </div>
            <div class="radio-group-item">
                <input
                    id="theme-light"
                    type="radio"
                    name="theme"
                    value="light"
                />
                <label for="theme-light"
                    ><CheckIcon width="24" height="24" /> Light</label
                >
            </div>
        </div>
    </div>
</div>

<script src="../js/doc-end.ts"></script>
