---
import ExternalLinkIcon from "./Icons/ExternalLinkIcon.astro";

const { url } = Astro.props;
---

<a href={url} target="_blank" title={url} class="external-link"><slot></slot><ExternalLinkIcon /></a>