---
import MenuIcon from "./Icons/MenuIcon.astro";
import CloseIcon from "./Icons/CloseIcon.astro";
---

<div class="top-links">
    <div class="inner-container">
        <div class="primary">
            <a href="/"
                ><span class="text--primary-1">rick</span><span
                    class="text--muted-1">.</span
                ><span class="text--primary-7">me</span><span
                    class="text--muted-1">.</span
                ><span class="text--primary-7">uk</span></a
            >
        </div>
        <div class="secondary">
            <a href="/posts/1">Posts</a>
            <a href="/projects/">Projects</a>
            <a href="/tags/">Tags</a>
            <a href="#" data-toggle=".small-display-menu">
                <MenuIcon width="24" height="24" />
                <CloseIcon width="24" height="24" />
            </a>
        </div>
    </div>
</div>

<nav class="small-display-menu">
    <a href="/posts/1">Posts</a>
    <a href="/projects/">Projects</a>
    <a href="/tags/">Tags</a>
</nav>
