---
import ThemeIcon from "./Icons/ThemeIcon.astro";
---

<div class="inner-container bottom-links">
    <a
        href="#"
        class="link-theme"
        data-open-modal=".modal--theme"
        title="Change theme"
    >
        <ThemeIcon width="28px" height="28px" />
    </a>
</div>
