---
import HomeIcon from "./Icons/HomeIcon.astro";
---

<div class="inner-container top-links">
    <div class="primary">
        <a href="/" class="full"><span class="text--primary-1">rick</span><span class="text--muted-1">.</span><span class="text--primary-7">me</span><span class="text--muted-1">.</span><span class="text--primary-7">uk</span></a>
        <a href="/" class="compact"><span class="text--primary-1"><HomeIcon /></span></a>
    </div>
    <div class="secondary">
        <a href="/posts/">Posts</a>
        <a href="/projects/">Projects</a>
        <a href="/tags/">Tags</a>
    </div>
</div>