---
import SettingsIcon from "./Icons/SettingsIcon.astro";
---

<div class="inner-container bottom-links">
    <a href="#" class="link-settings" data-open-modal=".modal--settings" title="Change settings">
        <SettingsIcon width="28px" height="28px" />
    </a>
</div>