<div class="inner-container bottom-links">
    <a href="#" class="link-settings" data-open-modal=".modal--settings" title="Change settings">
        <img src="/icons/settings.svg" alt="Settings" />
    </a>
</div>