---
const { src, alt, caption, width = "auto" } = Astro.props;
---

<div class="image-container">
    <img src={src} alt={alt} style={{ width }} data-zoomable />
    { caption && <div class="caption">{caption}</div> }
</div>