---
import { Image as AstroImage } from "astro:assets";

const { src, alt, caption, width = "auto" } = Astro.props;
---

<div class="image-container">
    <AstroImage src={src} alt={alt} width={width} data-zoomable />
    {caption && <div class="caption">{caption}</div>}
</div>
