---
const { item } = Astro.props;
---

<div class="item-card">
    <a class="item-card-link" href={item.absoluteURL}></a>
    <div
        class="item-card-background"
        style={`background-image: url(${item.data.heroImage.src});`}
    >
    </div>
    <div class="item-card-inner">
        <div class="item-card-inner-header">
            <h3 class="item-card-inner-header-title">
                {item.data.title}
            </h3>
            <slot name="after-title" />
        </div>
        <div class="item-card-inner-body">
            {item.data.description}
        </div>
        <div class="item-card-inner-footer">
            <slot name="footer" />
        </div>
    </div>
</div>
