---
import Card from "./Card.astro";
import FormattedDate from "./FormattedDate.astro";

interface Props {
    post: any;
    withTags?: boolean;
}

const { post, withTags = false } = Astro.props;
---

<Card item={post}>
    <div slot="before-title">
        <div class="badge">
            <FormattedDate date={post.data.pubDate} />
        </div>
    </div>

    { withTags && <div class="links" slot="footer">
        {post.data.tags.map((tag: string) => <a href={`/posts/tag/${tag}`}>{tag}</a>)}
    </div>}
</Card>