---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings: Heading[];
  levels?: 1 | 2 | 3;
}

const { headings, levels = 3 } = Astro.props as Props;

const filteredHeadings = headings.filter((heading) => heading.depth <= levels);
---

<div class="toc">
    <h4>In this post</h4>
    <ul>
        {
            filteredHeadings.map((heading) => (
                <li>
                    <a href={`#${heading.slug}`}>
                        {heading.text}
                    </a>
                </li>
            ))
        }
    </ul>
</div>

<style lang="scss">
.toc {
    position: sticky;
    top: 3.25em;
    margin-top: 1.25rem;
    padding: 0.5rem 1.5em 0 0;

    h4 {
        margin: 0 0 .5rem 0;
        font-size: 1.3rem;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: .5rem 0;
        }
    }
}
</style>
