---
import CheckIcon from "./Icons/CheckIcon.astro";
---

<div class="radio-group">
    <div class="radio-group-item">
        <input id="theme-system" type="radio" name="theme" value="system" />
        <label for="theme-system"><CheckIcon width="24" height="24" /> System</label>
    </div>
    <div class="radio-group-item">
        <input id="theme-dark" type="radio" name="theme" value="dark" />
        <label for="theme-dark"><CheckIcon width="24" height="24" /> Dark</label>
    </div>
    <div class="radio-group-item">
        <input id="theme-light" type="radio" name="theme" value="light" />
        <label for="theme-light"><CheckIcon width="24" height="24" /> Light</label>
    </div>
</div>
