---
import { YouTube } from "astro-embed";

const { src, type, caption = "", loop = false, autoplay = false, isYouTube = false } = Astro.props;

let properties: any = {
    'controls': true,
    'loop': loop,
    'autoplay': autoplay
};
---

<div class="video-container">
    { isYouTube
        ? <YouTube id={src} />
        : <video { ...properties }>
            <source src={src} type={type}>
            Video playback is not supported in your browser. :(
        </video> }
    { caption && <div class="caption">{caption}</div> }
</div>

<style lang="scss">
.video-container {
    text-align: center;

    video {
        width: 100%;
        height: auto;
        max-width: 800px;
        max-height: 400px;
    }

    :global(lite-youtube) {
        margin: 0 auto;
    }
}
</style>
