---
const { src, type, isLoop, caption, autoplay = false } = Astro.props;

let properties: any = {
    'controls': ''
};

if (isLoop) {
    properties['loop'] = ''
}

if (autoplay) {
    properties['autoplay'] = ''
}
---

<div class="video-container">
    <video { ...properties }>
        <source src={src} type={type}>
        Video playback is not supported in your browser. :(
    </video>
    { caption && <div class="caption">{caption}</div> }
</div>