<div class="modal-overlay">
    <div class="modal modal--settings">
        <a href="#" class="modal-close" data-close-modal=".modal--settings">
            <img src="/icons/close.svg" alt="Close" />
        </a>

        <h3>Settings</h3>

        <p><b>Theme</b></p>

        <label class="b-contain">
            <span>System</span>
            <input type="radio" name="theme" value="system" />
            <div class="b-input"></div>
        </label>
        <label class="b-contain">
            <span>Dark</span>
            <input type="radio" name="theme" value="dark" />
            <div class="b-input"></div>
        </label>
        <label class="b-contain">
            <span>Light</span>
            <input type="radio" name="theme" value="light" />
            <div class="b-input"></div>
        </label>
    </div>
</div>
</body>

<script>
    const modalOverlay = document.querySelector('.modal-overlay');
    const themeRadios = document.querySelectorAll('input[type=radio][name=theme]');

    const themeIndexMap = {
        'system': 0,
        'dark': 1,
        'light': 2
    };

    const themeClasses = [
        'theme--system',
        'theme--dark',
        'theme--light'
    ];

    function setTheme(name) {
        for (var i = 0; i < themeClasses.length; i++) {
            document.body.classList.remove(themeClasses[i]);
        }

        document.body.classList.add(themeClasses[themeIndexMap[name]]);
    }

    function onChangeTheme() {
        CookieUtil.set('theme', this.value, new Date((new Date()).getTime() + (10 * 365 * 24 * 60 * 60)));
        setTheme(this.value);
    }

    for (var i = 0; i < themeRadios.length; i++) {
        themeRadios[i].addEventListener('change', onChangeTheme);
    }

    (function() {
        var theme = CookieUtil.get('theme');
        if (!theme) theme = 'system';

        themeRadios[themeIndexMap[theme]].checked = true;

        setTheme(theme);
    })();

    document.querySelector('a[data-open-modal]').addEventListener('click', function (event) {
        event.preventDefault();
        modalOverlay.style.display = 'block';
        modalOverlay.querySelector(this.dataset.openModal).style.display = 'block';
    });

    document.querySelector('a[data-close-modal]').addEventListener('click', function (event) {
        event.preventDefault();
        modalOverlay.style.display = 'none';
        modalOverlay.querySelector(this.dataset.closeModal).style.display = 'none';
    });

    function closeModals() {
        const modals = document.querySelectorAll('.modal');
        for (var i = 0; i < modals.length; i++) {
            modals[i].style.display = 'none';
        }

        modalOverlay.style.display = 'none';
    }
    
    document.onkeydown = function(event) {
        // Escape key
        if (event.keyCode == 27) closeModals();
    }

    modalOverlay.addEventListener('click', function (event) {
        if (this != event.target) return;
        closeModals();
    });
</script>

</html>