<!DOCTYPE html>

<html>
<head>
    <title>{{ .Title }}</title>

    {{ $mainScss := resources.Get "sass/style.scss" | resources.ToCSS }}
    {{ $style := slice $mainScss | resources.Concat "css/style.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script src="/js/medium-zoom.min.js"></script>
    <script src="/js/cookie-util.js"></script>
    
    <meta charset="utf-8">

    <meta name="theme-color" content="#252530">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">

    <meta property="og:locale" content="en_GB">
    <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
    {{ if .Params.image }}<meta property="og:image" content="{{ .Permalink }}{{ .Params.image }}">{{ end }}
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
</head>

<body>
