{{ partial "header.html" . }}

<div class="container container--home">
    <div class="inner-container">
        <h1><span class="text--muted-1" style="padding-right: .2em;">&#8250;</span><span class="text--primary-1">riari</span><span class="text--muted-1">.</span><span class="text--primary-2">dev</span></h1>
        <p class="lead">Hi. I'm Rick, a game developer with a background in full stack web dev.</p>
    
        <hr>

        <div class="recent-posts">
            <div class="inline-heading">
                <h2>Posts</h2>

                <span class="more-link">
                    <a href="/posts/">See full list</a>
                </span>
            </div>
        
            <ul>
                {{ range(where .Site.RegularPages "Type" "posts" | first 3) }}
                    <li>
                        <a href="{{ .Permalink }}" class="link">{{ .Title }}</a>
                        <span class="publish-date">{{ .Date.Format "2 Jan 2006" }}</span>
                    </li>
                {{ end }}
            </ul>
        </div>
    
        <div class="proficiencies">
            <h2>Proficiencies</h2>

            <div class="proficiencies__row">
                <div class="proficiencies__row__label">
                    Languages
                </div>
                <div class="proficiencies__row__tags tags tags--primary-1">
                    <span class="tag">C#</span>
                    <span class="tag">Java</span>
                    <span class="tag">C++</span>
                    <span class="tag">Rust</span>
                    <span class="tag">Python</span>
                    <span class="tag">PHP</span>
                    <span class="tag">JavaScript</span>
                    <span class="tag">TypeScript</span>
                </div>
            </div>
            <div class="proficiencies__row">
                <div class="proficiencies__row__label">
                    Frameworks
                </div>
                <div class="proficiencies__row__tags tags tags--primary-2">
                    <span class="tag">.NET</span>
                    <span class="tag">Laravel</span>
                    <span class="tag">Express</span>
                    <span class="tag">Vue.js</span>
                    <span class="tag">React</span>
                    <span class="tag">React Native</span>
                </div>
            </div>
            <div class="proficiencies__row">
                <div class="proficiencies__row__label">
                    Game Engines
                </div>
                <div class="proficiencies__row__tags tags tags--primary-3">
                    <span class="tag">Unity</span>
                    <span class="tag">Godot</span>
                </div>
            </div>
            <div class="proficiencies__row">
                <div class="proficiencies__row__label">
                    Databases
                </div>
                <div class="proficiencies__row__tags tags tags--primary-4">
                    <span class="tag">MySQL</span>
                    <span class="tag">PostgreSQL</span>
                    <span class="tag">MongoDB</span>
                    <span class="tag">Redis</span>
                </div>
            </div>
            <div class="proficiencies__row">
                <div class="proficiencies__row__label">
                    Editors
                </div>
                <div class="proficiencies__row__tags tags tags--primary-5">
                    <span class="tag">VS Code</span>
                    <span class="tag">Visual Studio</span>
                    <span class="tag">JetBrains IDEs</span>
                </div>
            </div>
            <div class="proficiencies__row">
                <div class="proficiencies__row__label">
                    Platforms
                </div>
                <div class="proficiencies__row__tags tags tags--primary-6">
                    <span class="tag">Web</span>
                    <span class="tag">Desktop</span>
                    <span class="tag">Mobile</span>
                </div>
            </div>
            <div class="proficiencies__row">
                <div class="proficiencies__row__label">
                    Tools & Services
                </div>
                <div class="proficiencies__row__tags tags tags--primary-7">
                    <span class="tag">Git</span>
                    <span class="tag">WSL</span>
                    <span class="tag">Docker</span>
                    <span class="tag">Kubernetes</span>
                    <span class="tag">AWS</span>
                    <span class="tag">Cloudflare</span>
                </div>
            </div>
        </div>
    
        <h2>Links</h2>
    
        <div class="links">
            <a href="https://github.com/Riari" rel="noopener" target="_blank" class="button">
                <img src="/icons/github.svg"> GitHub
            </a>
            <a href="https://www.linkedin.com/in/riari/" rel="noopener" target="_blank" class="button">
                <img src="/icons/linkedin.svg"> LinkedIn
            </a>
            <a href="https://twitter.com/DevRiari" rel="noopener" target="_blank" class="button">
                <img src="/icons/twitter.svg"> Twitter
            </a>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', event => {
    document.addEventListener('mousemove', event => {
        if (event.target.classList == null || !event.target.classList.contains('button')) return;

        const rect = event.target.getBoundingClientRect();
        const mouseX = event.clientX - rect.left;
        const mouseY = event.clientY - rect.top;
        
        const hoverSpan = event.target.querySelector('.button__hover');
        hoverSpan.style.opacity = '1.0';
        hoverSpan.style.left = `${mouseX - (hoverSpan.offsetWidth / 2)}px`;
        hoverSpan.style.top = `${mouseY - (hoverSpan.offsetHeight / 2)}px`;
    });

    const buttons = document.getElementsByClassName('button');
    const hoverSpan = document.createElement('span');
    hoverSpan.classList.add('button__hover');

    for (var i = 0; i < buttons.length; i++) {
        buttons[i].appendChild(hoverSpan.cloneNode());
        buttons[i].addEventListener('mouseleave', event => {
            event.target.style.background = null;
        
            const hoverSpan = event.target.querySelector('.button__hover');
            hoverSpan.style.opacity = '0.0';
        });
    }
});
</script>

{{ partial "footer.html" . }}