---
import DocStart from "../../components/DocStart.astro";
import DocEnd from "../../components/DocEnd.astro";
import HeadTopLinks from "../../components/HeadTopLinks.astro";
import HeadBottomLinks from "../../components/HeadBottomLinks.astro";
import ItemCard from "../../components/ItemCard.astro";
import { loadAndFormatCollection } from '../../util/collection';

const projects = (await loadAndFormatCollection('projects', false))
    .sort((a: any, b: any) => a.data.weight - b.data.weight);
---

<DocStart />
<div class="container container--cards">
    <div class="head head--slim">
        <HeadTopLinks />

        <h1>Projects</h1>

        <HeadBottomLinks />
    </div>

    <div class="body">
        <div class="inner-container">
            <div class="card-grid">
                {
                    projects.map((project: any) => (
                        <ItemCard item={project} hasPublishDate={false} hasStatus={true} />
                    ))
                }
            </div>
        </div>
    </div>
</div>
<DocEnd />