@use "sass:list";
@use "sass:color";
@use "../palette";

.container--posts {
    .head-container {
        max-width: 860px;

        .head {
            background: color.adjust(list.nth(palette.$accents-dark, 5), $alpha: -0.95);

            h1 {
                color: list.nth(palette.$accents-dark, 5);
            }
        }
    }
}

@mixin theme-light {
    .container--posts {
        .head-container {
            .head {
                background: color.adjust(list.nth(palette.$accents-light, 5), $alpha: -0.85);

                h1 {
                    color: list.nth(palette.$accents-light, 5);
                }
            }
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}