@use "sass:color";
@use "sass:map";
@use "../palette";
@use "../typography";
@use "../breakpoints";

.container--home {
    .section {
        position: relative;
        padding-left: 1.5em;
        margin: 1.5em 0;

        &::before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 6px;
            border-radius: 3px;
        }

        &--primary-3 {
            &::before {
                background: palette.$color-primary-3;
            }

            .section__heading {
                color: palette.$color-primary-3;
            }

            .section__heading-link {
                background: palette.$color-primary-3;
            }
        }

        &--primary-5 {
            &::before {
                background: palette.$color-primary-5;
            }

            .section__heading {
                color: palette.$color-primary-5;
            }

            .section__heading-link {
                background: palette.$color-primary-5;
            }
        }

        &__heading {
            display: flex;
            align-items: center;
            margin-bottom: 1em;

            h2 {
                margin: 0;
            }

            &-link {
                display: inline-block;
                margin: 0 0 0 1em;
                padding: .1em .6em;
                color: palette.$color-background-dark;
                opacity: .75;
                transition: opacity .1s ease-out;

                &:hover {
                    opacity: 1.0;
                }
            }
        }
    }

    .post-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 1em;

        .item-card {
            position: relative;
            border-radius: .5em;
            background: #2c2c39;

            &-link {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: .5em;
                transition: background .1s;
                z-index: 100;

                &:hover {
                    background: #cddef10c;
                }
            }

            &-background {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: .5em;
                background-size: cover;
                opacity: .4;
                filter: saturate(1.5);
            }

            &-inner {
                position: relative;
                padding: 1em;

                &-header {
                    h3 {
                        margin: 0 0 .2em 0;
                        font-size: 1em;
                    }

                    &-publish-date {
                        color: #57647B;
                    }
                }

                &-footer {
                    &-tags {
                        a {
                            font-size: .8em;
                            font-weight: bold;
                            border-radius: 1em;
                            padding: 0 .5em;
                            margin: 0 .2em 0 0;
                            background: rgba(255, 255, 255, 0.1);
                            color: #b2b2b2;
                        }
                    }
                }
            }
        }
    }

    .inner-container {
        max-width: 1152px;
    }

    p {
        margin: 1em 0;
    }

    .site-title {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        h1 {
            flex: 1;
            margin: 0;
        }

        .theme-selector-container {
            position: relative;
            top: auto;
            right: auto;

            a.theme-selector-toggle {
                top: .2rem;
                right: 0;
                background: palette.$color-background-main-2;

                &.toggled {
                    background: palette.$color-background-main-2;
                }
            }

            .theme-selector {
                top: 100%;
                right: 0;
                bottom: auto;
                padding: 1.5rem 0 .5rem 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: .3em;
                border-bottom-right-radius: .3em;
                background: palette.$color-background-main-2;
            }
        }
    }

    .recent-posts {
        ul {
            list-style: none;
            margin: 0 0 1em 0;
            padding: 0;

            li {
                margin: .2em 0;
                background: color.adjust(palette.$color-background-main-1, $lightness: 3%);

                a.link {
                    display: flex;
                    padding: 0.4em 1em;
                    font-family: typography.$font-family-sans-serif;
                    font-weight: 500;
                    color: palette.$color-primary-5;
                    text-decoration: none;
                    transition: color .1s;

                    &:hover {
                        color: #fff;
                    }

                    .link-title {
                        flex: 1;
                    }

                    .link-publish-date {
                        font-weight: 400;
                        color: palette.$color-muted-3;
                    }
                }
            }
        }
    }

    .project-cards {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        margin: 0 0 2em;

        &__card {
            flex: 1;

            &__inner {
                position: relative;
                height: 100%;
                box-sizing: border-box;
                background: palette.$color-background-main-2;

                a {
                    display: flex;
                    flex-direction: column;
                    padding: 1em;
                    box-sizing: border-box;
                    font-family: typography.$font-family-sans-serif;
                    font-weight: 500;
                    color: palette.$color-primary-1;
                    text-decoration: none;
                    transition: color .1s;

                    &:hover {
                        color: #fff;
                    }

                    .description {
                        font-weight: 400;
                    }
                }

                .badge {
                    position: absolute;
                    top: 1em;
                    right: 0;
                    border-radius: 0;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }

                .description {
                    color: palette.$color-muted-3;
                }
            }
        }
    }

    .proficiencies {
        &__row {
            display: flex;
            border-bottom: 1px solid rgba(palette.$color-muted-1, 0.2);
            padding: .5em 0;

            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                padding-bottom: 0;
                border-bottom: 0;
            }

            &__label {
                padding: 0.2em 0;
                font-weight: 700;
                min-width: 200px;
                color: palette.$color-muted-3;
            }

            .pills {
                span {
                    display: inline-block;
                    padding: .12em .6em;
                    margin: .1em;
                    border-radius: 2em;
                    font-weight: 500;
                }

                @for $i from 1 through 7 {
                    &--primary-#{$i} span {
                        background: linear-gradient(145deg, rgba(palette.$color-muted-1, 0.2), rgba(palette.$color-muted-1, 0.3), rgba(map.get(palette.$palette, primary-#{$i}), 0.12));
                        color: map.get(palette.$palette, primary-#{$i});
                    }
                }
            }
        }
    }

    .about {
        p {
            color: palette.$color-muted-3;
            line-height: 1.5;
        }
    }

    .links {
        display: flex;

        .button {
            flex: 1;

            svg {
                width: 32px;
                height: 32px;
                margin-right: 0.6em;
                vertical-align: -10px;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .highlight {
        font-size: .8em;

        &> div {
            border-radius: .3em;

            table {
                tr {
                    td:first-child {
                        width: 50px;
                        min-width: 50px;
                        text-align: right;
                    }

                    td:nth-child(2) {
                        width: 100%;
                    }
                }
            }

            code {
                font-family: typography.$font-family-monospace;
            }
        }
    }
}

@mixin theme-light {
    .container--home {
        background: palette.$color-background-light;

        .site-title {
            span:not(.text--muted-1) {
                color: palette.$color-foreground-light-dimmed;
            }

            .theme-selector-container {
                a.theme-selector-toggle {
                    background: palette.$color-background-light-dimmed;
                    color: palette.$color-muted-3;

                    &:hover {
                        color: palette.$color-muted-1;
                    }
                }

                .theme-selector {
                    background: palette.$color-background-light-dimmed;
                }
            }
        }

        h2, h2 a {
            color: palette.$color-muted-1;
        }

        p, p.lead {
            color: palette.$color-muted-1;
        }

        hr {
            background: palette.$color-muted-3;
        }

        .recent-posts {
            ul li {
                background: palette.$color-background-light-dimmed;

                a {
                    color: palette.$color-link-light;

                    &:hover {
                        color: #000;
                    }

                    .link-publish-date {
                        color: palette.$color-muted-1;
                    }
                }
            }
        }

        .project-cards__card__inner {
            background: palette.$color-background-light-dimmed;

            a {
                color: palette.$color-link-light;

                &:hover {
                    color: #000;
                }
            }

            .description {
                color: palette.$color-muted-1;
            }
        }

        .proficiencies__row {
            &__label {
                color: palette.$color-muted-1;
            }

            .pills span {
                color: palette.$color-foreground-light;
            }

            @for $i from 1 through 7 {
                .pills--primary-#{$i} span {
                    background: linear-gradient(145deg, map.get(palette.$palette, primary-#{$i}), rgba(map.get(palette.$palette, primary-#{$i}), 0.35));
                }
            }
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}

@media only screen and (max-width: breakpoints.$small) {
    .container--home {
        .site-title {
            h1 {
                font-size: 2.4rem;
            }

            .theme-selector-container {
                a.theme-selector-toggle {
                    top: 0;
                }
            }
        }

        .project-cards__card {
            flex: 1 auto;
            width: 100%;
        }

        .proficiencies__row {
            flex-direction: column;

            &__label {
                margin-bottom: .6rem;
                min-width: auto;
            }
        }

        .links {
            flex-direction: column;

            .button {
                margin: 0.2em 0;
            }
        }
    }

    .recent-posts ul li {
        flex-direction: column;
    }
}