.container--project {
    .project-details {
        display: flex;
        align-items: flex-start;
        gap: 1em;

        main {
            flex: 1;

            p {
                font-size: 1.1em;
                color: #fff;
            }

            img {
                max-width: 100%;
            }
        }

        aside {
            box-sizing: border-box;
            min-width: 220px;
            margin-top: 1em;
            padding: 1em;
            background: $color-background-main-2;

            table {
                width: 100%;

                td:nth-of-type(2) {
                    text-align: right;
                }
            }
        }
    }
}

@mixin theme-light {
    .container--project {
        .project-details {
            main p {
                color: $color-foreground-light;
            }

            aside {
                background: $color-background-light-dimmed;
                color: $color-foreground-light;
            }

            a {
                color: $color-link-light;

                &:hover {
                    color: #000000;
                }
            }
        }
    }
}

.theme--light {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    .theme--system {
        @include theme-light;
    }
}

@media only screen and (max-width: $breakpoint--small) {
    .container--project {
        .project-details {
            flex-direction: column-reverse;

            aside {
                width: 100%;
            }
        }
    }
}