@use "sass:list";
@use "sass:color";
@use "../palette";

.container--tags {
    .head-container {
        max-width: 860px;
    }

    .head__background {
        background: color.adjust(list.nth(palette.$accents-dark, 8), $alpha: -0.95);
    }
}

@mixin theme-light {
    .container.container--tags .head-container .head {
        &__background {
            background: color.adjust(list.nth(palette.$accents-light, 8), $alpha: -0.85);
            filter: none;
            opacity: 1.0;
        }

        h1 {
            color: palette.$color-muted-2;
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}