@use "sass:list";
@use "../palette";

.container--project {
    .head-container {
        h1 {
            color: list.nth(palette.$accents-dark, 3);
        }
    }

    .body {
        .project-fields {
            margin-bottom: 2rem;
            text-align: center;

            .badge-joined {
                margin: 0.2rem 0.1rem;
            }
        }
    }
}

@mixin theme-light {
    .container--project {
        .head-container .head {
            h1 {
                color: list.nth(palette.$accents-light, 3);
            }
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}