@use "../palette";
@use "../breakpoints";
@use "../typography";

.container--post {
    .head-container .head h1 {
        color: palette.$color-primary-5;
    }

    .body {
        .publish-date {
            margin-bottom: 2em;
            font-weight: bold;
            color: palette.$color-muted-2;
            text-align: center;
        }
    }
}

@media only screen and (max-width: breakpoints.$small) {
    .container--post {
        .head {
            h1 {
                font-size: 1.6em;
            }

            h2 {
                font-size: 1.2em
            }
        }
    }
}