@use "sass:map";
@use "sass:color";
@use "../palette";

.container--projects {
    .head-container {
        max-width: 860px;
    }

    .head {
        background: color.adjust(palette.$color-primary-3, $alpha: -0.95);

        h1 {
            color: palette.$color-primary-3;
        }
    }

    .body .badge {
        text-decoration: none;
    }
}

@mixin theme-light {
    .container--projects {
        .head-container {
            .head {
                background: color.adjust(map.get(palette.$palette-light, primary-3), $alpha: -0.85);

                h1 {
                    color: map.get(palette.$palette-light, primary-3);
                }
            }
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}