@use "sass:color";
@use "sass:map";
@use "../palette";
@use "../typography";
@use "../breakpoints";

.container--home {
    .inner-container {
        max-width: 1152px;
    }

    .site-title {
        display: flex;
        align-items: center;

        h1 {
            flex: 1;
            color: palette.$color-muted-2;
        }

        .theme-selector-container {
            position: relative;
            top: auto;
            right: auto;

            a.theme-selector-toggle {
                position: relative;
                top: 14px;
                right: auto;
                background: palette.$color-background-main-2;

                &.toggled {
                    background: palette.$color-background-main-2;
                }
            }

            .theme-selector {
                top: 0;
                right: 0;
                bottom: auto;
                padding: 1.5rem 0 .5rem 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: .3em;
                border-bottom-right-radius: .3em;
                background: palette.$color-background-main-2;
            }
        }
    }

    .intro {
        margin-bottom: 2em;
        font-size: 1.5em;
    }

    .section {
        position: relative;
        padding-left: 1.5em;
        margin: 1.5em 0;

        &::before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 5px;
            transform: skewY(-30deg);
        }

        &__heading {
            display: flex;
            align-items: center;
            margin-bottom: 1em;

            h2 {
                margin: 0;
            }

            &-link {
                display: inline-block;
                margin: 0 0 0 1em;
                padding: .1em .6em;
                color: palette.$color-background-dark;
                text-decoration: none;
                opacity: .75;
                transition: opacity .1s ease-out;

                &:hover {
                    opacity: 1.0;
                }
            }
        }

        &--projects {
            .item-card-inner-header {
                display: flex;
                margin-bottom: .5em;

                h3 {
                    flex: 1;
                }
            }

            .item-card-inner-body {
                color: palette.$color-muted-3;
            }
        }

        &--primary-2 {
            &::before {
                background: palette.$color-primary-2;
            }

            .section__heading {
                color: palette.$color-primary-2;
            }

            .section__heading-link {
                background: palette.$color-primary-2;
            }
        }

        &--primary-3 {
            &::before {
                background: palette.$color-primary-3;
            }

            .section__heading {
                color: palette.$color-primary-3;
            }

            .section__heading-link {
                background: palette.$color-primary-3;
            }
        }

        &--primary-5 {
            &::before {
                background: palette.$color-primary-5;
            }

            .section__heading {
                color: palette.$color-primary-5;
            }

            .section__heading-link {
                background: palette.$color-primary-5;
            }
        }
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 1em;

        .item-card {
            position: relative;
            border-radius: .5em;
            background: #2c2c39;

            &-link {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: .5em;
                transition: background .1s;
                z-index: 100;

                &:hover {
                    background: #cddef10c;
                }
            }

            &-background {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: .5em;
                background-size: cover;
                opacity: .4;
                filter: saturate(1.5);
            }

            &-inner {
                position: relative;
                padding: 1em;

                &-header {
                    &-publish-date {
                        color: palette.$color-muted-3;
                    }

                    h3 {
                        margin: 0 0 .2em 0;
                        font-size: 1em;
                    }
                }

                &-footer {
                    &-tags {
                        a {
                            font-size: .8em;
                            font-weight: bold;
                            border-radius: 1em;
                            padding: 0 .5em;
                            margin: 0 .2em 0 0;
                            background: rgba(255, 255, 255, 0.1);
                            color: #b2b2b2;
                        }
                    }
                }
            }
        }
    }

    .proficiencies {
        &__row {
            display: flex;
            border-bottom: 1px solid rgba(palette.$color-muted-1, 0.2);
            padding: .5em 0;

            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                padding-bottom: 0;
                border-bottom: 0;
            }

            &__label {
                padding: 0.2em 0;
                font-weight: 700;
                min-width: 200px;
                color: palette.$color-muted-3;
            }

            .pills {
                span {
                    display: inline-block;
                    padding: .12em .6em;
                    margin: .1em;
                    border-radius: 2em;
                    font-weight: 500;
                }

                @for $i from 1 through 7 {
                    &--primary-#{$i} span {
                        background: linear-gradient(145deg, rgba(palette.$color-muted-1, 0.2), rgba(palette.$color-muted-1, 0.3), rgba(map.get(palette.$palette, primary-#{$i}), 0.12));
                        color: map.get(palette.$palette, primary-#{$i});
                    }
                }
            }
        }
    }
}

@mixin theme-light {
    .container--home {
        background: palette.$color-background-light;

        .site-title {
            span:not(.text--muted-1) {
                color: palette.$color-foreground-light-dimmed;
            }

            .theme-selector-container {
                a.theme-selector-toggle {
                    background: palette.$color-background-light-dimmed;
                    color: palette.$color-muted-3;

                    &:hover {
                        color: palette.$color-muted-1;
                    }
                }

                .theme-selector {
                    background: palette.$color-background-light-dimmed;
                }
            }
        }

        h2, h2 a {
            color: palette.$color-muted-1;
        }

        p, p.lead {
            color: palette.$color-muted-1;
        }

        hr {
            background: palette.$color-muted-3;
        }

        .proficiencies__row {
            &__label {
                color: palette.$color-muted-1;
            }

            .pills span {
                color: palette.$color-foreground-light;
            }

            @for $i from 1 through 7 {
                .pills--primary-#{$i} span {
                    background: linear-gradient(145deg, map.get(palette.$palette, primary-#{$i}), rgba(map.get(palette.$palette, primary-#{$i}), 0.35));
                }
            }
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    html[data-theme="system"] {
        @include theme-light;
    }
}

@media only screen and (max-width: breakpoints.$small) {
    .container--home {
        .site-title {
            h1 {
                font-size: 2.4rem;
            }

            .theme-selector-container {
                a.theme-selector-toggle {
                    top: 0;
                }
            }
        }

        .proficiencies__row {
            flex-direction: column;

            &__label {
                margin-bottom: .6rem;
                min-width: auto;
            }
        }
    }
}