@use "sass:color";
@use "sass:list";
@use "../palette";
@use "../typography";
@use "../breakpoints";

.container--home {
    .inner-container {
        max-width: 1152px;
    }

    .site-title {
        display: flex;
        align-items: center;

        h1 {
            flex: 1;
            margin: 0;
            color: palette.$color-muted-2;
        }

        .theme-selector-container {
            position: relative;

            a.theme-selector-toggle {
                position: relative;
                top: auto;
                right: auto;
                transform: none;
                background: palette.$color-background-main-2;

                &.toggled {
                    background: palette.$color-background-main-2;
                }
            }

            .theme-selector {
                top: 50%;
                right: 1px;
                bottom: auto;
                padding: 1.5rem 0 .5rem 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: .3em;
                border-bottom-right-radius: .3em;
                background: palette.$color-background-main-2;
            }
        }
    }

    .intro {
        margin: 1.5em 0 2em 0;
        font-size: 1.5em;

        a {
            text-decoration-thickness: 3px;
            text-underline-offset: 3px;
        }
    }

    .section {
        position: relative;
        padding-left: 1.5em;
        margin: 1.5em 0;

        &::before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 5px;
            transform: skewY(-30deg);
        }

        &__heading {
            display: flex;
            align-items: center;
            margin-bottom: 1em;

            h2 {
                flex: 1;
                margin: 0;
            }

            &-link {
                margin: .1em 0 0 1em;
                font-weight: 500;
                text-decoration: none;

                svg {
                    vertical-align: -5px;
                }
            }
        }

        &--posts {
            .item-card-inner-header {
                margin-bottom: .5em;
            }

            .item-card-inner-body {
                color: palette.$color-muted-3;
            }
        }

        &--projects {
            .item-card-inner-header {
                display: flex;
                gap: .1em;
                align-items: start;
                flex-direction: row-reverse;
                margin-bottom: .5em;

                h3 {
                    flex: 1;
                }
            }

            .item-card-inner-body {
                color: palette.$color-muted-3;
            }
        }

        &--accent-2 {
            &::before {
                background: list.nth(palette.$accents-dark, 2);
            }

            .section__heading {
                color: list.nth(palette.$accents-dark, 2);
            }
        }

        &--accent-3 {
            &::before {
                background: list.nth(palette.$accents-dark, 3);
            }

            .section__heading {
                color: list.nth(palette.$accents-dark, 3);
            }
        }

        &--accent-5 {
            &::before {
                background: list.nth(palette.$accents-dark, 5);
            }

            .section__heading {
                color: list.nth(palette.$accents-dark, 5);
            }
        }
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 1em;

        .item-card {
            position: relative;
            border-radius: .5em;
            background: #2c2c39;

            &-link {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: .5em;
                transition: background .1s;
                z-index: 100;

                &:hover {
                    background: #cddef10c;
                }
            }

            &-background {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;grid-template-columns: 1fr;
                left: 0;
                border-radius: .5em;
                background-size: cover;
                background-position: 50% 50%;
                opacity: .4;
                filter: saturate(1.5);
            }

            &-inner {
                position: relative;
                padding: 1em;

                &-header {
                    &-publish-date {
                        color: palette.$color-muted-3;
                    }

                    h3 {
                        margin: 0;
                        font-family: typography.$font-family-sans-serif;
                        font-weight: 700;
                        font-size: 1.1em;
                    }
                }

                &-footer {
                    &-tags {
                        a {
                            font-size: .8em;
                            font-weight: bold;
                            border-radius: 1em;
                            padding: 0 .5em;
                            margin: 0 .2em 0 0;
                            background: rgba(255, 255, 255, 0.1);
                            color: #b2b2b2;
                        }
                    }
                }
            }
        }
    }

    .proficiencies {
        &__row {
            display: flex;
            border-bottom: 1px solid rgba(palette.$color-muted-1, 0.2);
            padding: .5em 0;

            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                padding-bottom: 0;
                border-bottom: 0;
            }

            &__label {
                padding: 0.2em 0;
                font-weight: 700;
                min-width: 200px;
                color: palette.$color-muted-3;
            }

            .pills {
                span {
                    display: inline-block;
                    padding: .12em .6em;
                    margin: .1em;
                    border-radius: 2em;
                    font-weight: 500;
                    background: palette.$color-background-dark;
                }

                @for $i from 1 through 7 {
                    &--accent-#{$i} span {
                        background:
                            linear-gradient(145deg, rgba(palette.$color-muted-1, 0.2), rgba(palette.$color-muted-1, 0.3), rgba(list.nth(palette.$accents-dark, $i), 0.12));
                        color: list.nth(palette.$accents-dark, $i);
                    }
                }
            }
        }
    }
}

@mixin theme-light {
    .container--home {
        .site-title {
            .theme-selector-container {
                a.theme-selector-toggle {
                    background: palette.$color-background-light-dimmed;
                    color: palette.$color-muted-2;

                    &:hover {
                        color: palette.$color-muted-1;
                    }
                }

                .theme-selector {
                    background: palette.$color-background-light-dimmed;
                }
            }
        }

        .section {
            &--accent-2 {
                &::before {
                    background: list.nth(palette.$accents-light, 2);
                }

                .section__heading {
                    color: list.nth(palette.$accents-light, 2);
                }
            }

            &--accent-3 {
                &::before {
                    background: list.nth(palette.$accents-light, 3);
                }

                .section__heading {
                    color: list.nth(palette.$accents-light, 3);
                }
            }

            &--accent-5 {
                &::before {
                    background: list.nth(palette.$accents-light, 5);
                }

                .section__heading {
                    color: list.nth(palette.$accents-light, 5);
                }
            }
        }

        .proficiencies__row {
            &__label {
                color: palette.$color-muted-1;
            }

            span {
                font-weight: 600;
            }

            @for $i from 1 through 7 {
                .pills--accent-#{$i} span {
                    background: color.adjust(palette.$color-muted-4, $alpha: -0.5);
                    color: list.nth(palette.$accents-light, $i);
                }
            }
        }
    }
}

html[data-theme="light"] {
    @include theme-light;
}

@media only screen and (max-width: breakpoints.$small) {
    .container--home {
        .site-title {
            h1 {
                font-size: 2.4rem;
            }

            .theme-selector-container {
                a.theme-selector-toggle {
                    top: 0;
                }
            }
        }

        .card-grid {
            grid-template-columns: 1fr;
        }

        .proficiencies__row {
            flex-direction: column;

            &__label {
                margin-bottom: .6rem;
                min-width: auto;
            }
        }
    }
}