@use "../palette";

.container--project {
    .head-container {
        h1 {
            color: palette.$color-primary-3;
        }
    }

    .body {
        .project-fields {
            margin-bottom: 2rem;
            text-align: center;

            .badge-joined {
                margin: 0.2rem 0.1rem;
            }
        }
    }
}