.container--home {
    .inner-container {
        max-width: 1200px;
    }

    .recent-posts {
        ul {
            list-style: none;
            margin: 0 0 1em 0;
            padding: 0;
    
            li {
                display: flex;
                padding: 0.4em 1em;
                margin: .2em 0;
                background: lighten($color-background-main, 3%);
    
                a.link {
                    flex: 1;
                    font-family: 'JetBrains Mono', monospace;
                    color: $color-primary-5;
                    text-decoration: none;
                    transition: color .1s;

                    &:hover {
                        color: #fff;
                    }
                }

                .publish-date {
                    color: $color-muted-3;
                }
            }
        }

        .more-link {
            text-align: right;

            a {
                display: inline-block;
                padding: .2em .6em;
                background: lighten($color-background-main, 3%);
                color: $color-muted-3;
                text-decoration: none;
                transition: color .1s;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .proficiencies {
        &__row {
            display: flex;
            border-bottom: 1px solid rgba($color-muted-1, 0.2);
            padding: .6em 0;
    
            &__label {
                padding: 0.1em 0;
                font-weight: bold;
                min-width: 240px;
                color: $color-muted-3;
            }

            .pills {
                span {
                    display: inline-block;
                    padding: .12em .6em;
                    margin: .1em;
                    border-radius: 2em;
                }
            
                @for $i from 1 through 7 {
                    &--primary-#{$i} span,
                    .pill--primary-#{$i} {
                        background: linear-gradient(145deg, rgba($color-muted-1, 0.2), rgba($color-muted-1, 0.3), rgba(map-get($palette, primary-#{$i}), 0.12));
                        color: map-get($palette, primary-#{$i});
                    }
                }
            }
        }
    }

    .about {
        p {
            color: $color-muted-3;
            line-height: 1.5;
        }
    }
    
    .links {
        display: flex;
    
        .button {
            flex: 1;
    
            img {
                width: 32px;
                height: 32px;
                margin-right: 0.6em;
                vertical-align: -10px;
            }
        }
    }
    
    .highlight {
        font-size: .8em;
    
        &> div {
            border-radius: .3em;
    
            table {
                tr {
                    td:first-child {
                        width: 50px;
                        min-width: 50px;
                        text-align: right;
                    }
    
                    td:nth-child(2) {
                        width: 100%;
                    }
                }
            }
    
            code {
                font-family: 'JetBrains Mono', monospace;
            }
        }
    }
}

@media only screen and (max-width: $breakpoint--small) {
    .container--home {
        .proficiencies__row {
            flex-direction: column;

            &__label {
                margin-bottom: 1em;
                min-width: auto;
            }
        }

        .links {
            flex-direction: column;
        }
    }
    
    .recent-posts ul li {
        flex-direction: column;
    }
}