.container--posts {
    .body {
        padding: 1.6em 1em;
        background: $color-background-dark;
        font-family: 'Lora', serif;
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.6;

        .publish-date {
            margin-bottom: 2em;
            font-weight: bold;
            color: $color-muted-2;
            text-align: center;
        }

        a {
            color: $color-link-dark;
        }

        article {
            color: $color-foreground-dark;

            ul {
                margin-left: 1em;
            }
    
            p {
                margin-bottom: 1.2em;
                color: $color-foreground-dark;
            }
    
            & > pre {
                border-radius: .3em;
                background: #282a36;
                padding: .4em .8em;
    
                code {
                    font-family: "JetBrains Mono", monospace;
                    color: $color-text-on-dark;
                }
            }
    
            p > code,
            ul > li > code,
            ol > li > code {
                display: inline-block;
                padding: 0 .4em;
                border-radius: 0.2em;
                background: $color-inline-code-background-dark;
                font-size: 1rem;
                font-family: 'JetBrains Mono', monospace;
                color: $color-inline-code-foreground-dark;
            }

            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }

            blockquote {
                margin-left: 1em;
                padding-left: 1em;
                border-left: 4px solid $color-muted-1;

                p {
                    font-style: italic;
                }
            }

            .caption {
                margin-top: -.5rem;
                text-align: center;
                font-size: .9em;
                font-style: italic;
                color: $color-muted-2;
            }

            .video-container {
                text-align: center;

                video {
                    width: 100%;
                    height: auto;
                    max-width: 800px;
                    max-height: 400px;
                }
            }

            .audio-container {
                text-align: center;

                audio {
                    width: 100%;
                    max-width: 400px;
                }
            }
        }

        hr {
            height: 1px;
            border: 0;
            background: $color-muted-1;
        }

        .adjacent-post-links {
            display: flex;

            .next,
            .previous {
                flex: 50%;

                a {
                    text-decoration: none;

                    .prefix {
                        font-size: .8em;
                        color: $color-muted-3;
                    }

                    .title {
                        text-decoration: underline;
                        text-decoration-thickness: 1px;
                    }
                }
            }

            .next {
                text-align: right;
            }
        }
    }
}

.post-card {
    margin-bottom: 1em;
    border-radius: .3em;

    &-header {
        display: flex;
        padding: 1em 1.6em;
        border-top-left-radius: .3em;
        border-top-right-radius: .3em;
        background: $color-muted-1;

        &-title {
            flex: 1;

            a {
                font-family: 'JetBrains Mono', monospace;
                font-size: 1.1rem;
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                }
            }
        }
        
        &-publish-date {
            color: $color-muted-3;
        }
    }

    &-body {
        padding: 1em 1.6em;
        background: $color-background-dark;
        font-family: 'Lora', serif;
        color: $color-foreground-dark;
    }

    &-footer {
        display: flex;
        flex-direction: row;
        padding: 0 1.6em 1.2em 1.6em;
        border-bottom-left-radius: .3em;
        border-bottom-right-radius: .3em;
        background: $color-background-dark;
        color: $color-foreground-dark;

        a {
            font-size: .9em;
            transition: color .1s;
            color: $color-muted-3;

            &:hover {
                color: #fff;
            }
        }

        &-tags {
            flex: 1;

            a {
                display: inline-block;
                margin-right: .5rem;
            }
        }
    }
}

.medium-zoom-overlay {
    z-index: 999;
}

.medium-zoom-image {
    z-index: 1000;
}

@mixin theme-light {
    .container--posts {
        .body {
            background: $color-background-light;

            .publish-date {
                color: $color-muted-1;
            }
    
            a {
                color: $color-link-light;
            }
    
            article, article p {
                color: $color-foreground-light;
            }

            p > code,
            ul > li > code,
            ol > li > code {
                background: $color-inline-code-background-light;
                color: $color-inline-code-foreground-light;
            }

            blockquote {
                border-left: 4px solid lighten($color-muted-3, 10%);
            }

            .caption {
                color: $color-muted-1;
            }

            hr {
                background: lighten($color-muted-3, 10%);
            }
        }
    }

    .post-card {
        &-header {
            background: $color-muted-1;
            
            &-publish-date {
                color: $color-muted-3;
            }
        }

        &-body {
            background: $color-background-light;
            color: $color-foreground-light;
        }
    
        &-footer {
            background: $color-background-light;
            color: $color-foreground-light;
    
            a {
                color: $color-muted-3;
    
                &:hover {
                    color: $color-muted-1;
                }
            }
        }
    }
}

.theme--light {
    @include theme-light;
}

@media (prefers-color-scheme: light) {
    .theme--system {
        @include theme-light;
    }
}

@media only screen and (max-width: $breakpoint--small) {
    .post-card-header {
        flex-direction: column;

        &-title {
            margin-bottom: .3em;
        }
    }

    .container--posts .body {
        article {
            font-size: .8em;
        }

        .adjacent-post-links {
            flex-direction: column;
            text-align: center;

            .next,
            .prev {
                margin-bottom: .3em;
                text-align: center;
            }
        }
    }

    .container--pre-footer p {
        font-size: .9em;
    }
}