.post {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .inner-container {
        max-width: 800px;
    }

    .head {
        padding: 0 1em 4em 1em;
        background-size: cover;
        text-align: center;

        .links {
            display: flex;
            padding-top: 0;

            .primary {
                flex: 1;
                text-align: left;
            }

            .secondary {
                text-align: right;
            }

            a {
                display: inline-block;
                padding: .4em .8em;
                border-bottom-left-radius: .2em;
                border-bottom-right-radius: .2em;
                background: rgba(27, 27, 36, 0.6);
                font-family: 'JetBrains Mono', monospace;
                color: $color-text;
                text-decoration: none;

                &:hover {
                    background: rgba(27, 27, 36, 0.8);
                }
            }
        }

        h1 {
            margin-bottom: .4em;
        }

        h2.subheading {
            font-size: 1.4em;
            color: $color-muted-2;
        }

        ul.tags {
            list-style: none;
            margin: 1.2em 0 0 0;
            padding: 0;

            li {
                display: inline-block;

                a {
                    position: relative;
                    display: inline-block;
                    padding: .3em 1.2em;
                    margin: .1em;
                    color: $color-primary-1;
                    text-decoration: none;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        transform: skew(-20deg);
                        background: rgb(0, 140, 255);
                        opacity: .1;
                        transition: opacity .1s;
                    }

                    &:hover::after {
                        opacity: .2;
                    }
                }
            }
        }
    }

    .body {
        flex: 1;
        padding: 2em 1em;
        background: #fff;
        font-family: 'Lora', serif;
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.6;
        color: $color-background;

        .publish-date {
            font-weight: bold;
            color: $color-muted-1;
            text-align: center;
        }
    }
}